@using MrCMS.Helpers
@model MrCMS.Web.Apps.Admin.Models.UpdateMediaCategoryModel
@{
    ViewBag.Title = "Edit | " + Model.Name;

    Html.IncludeScript("~/Areas/Admin/scripts/media-uploader.js");
    Html.IncludeScript("~/Areas/Admin/scripts/media-category.js");
}

<div class="content-item">
    @using (Html.BeginForm("Edit", "MediaCategory", new {id = Model.Id}, FormMethod.Post, null, new {id = "edit-media", target = "_top"}))
    {
        <fieldset>
            <legend>
                Edit @Model.Name
                <span class="btn-group pull-right">
                    <input type="submit" class="btn btn-primary" value="@Html.Resource("Save")">
                </span>
            </legend>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Name, "Folder Name")
                        @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
                    </div>
                    @Html.LabelFor(x => x.IsGallery)
                    @Html.CheckBoxFor(x => x.IsGallery)
                </div>
            </div>
        </fieldset>
    }
</div>