@using MrCMS.Web.Admin.Services
@using X.PagedList.Mvc.Core
@model MrCMS.Entities.Documents.Web.Webpage
@inject IDocumentVersionsAdminService AdminService
@{
    var versionsModel = await AdminService.GetVersions(Model, ViewData["page"] as int? ?? 1);
}
<div class="content-item">
    @if (versionsModel.Items.Any())
    {
        <div data-paging-type="async">
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th>
                        @await Html.Resource("Created On")
                    </th>
                    <th>
                        @await Html.Resource("User")
                    </th>
                    <th>
                        @await Html.Resource("Actions")
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var version in versionsModel.Items)
                {
                    <tr>
                        <td>
                            @version.CreatedOn
                        </td>
                        <td>
                            @version.FirstName @version.LastName
                        </td>
                        <td>
                            <div class="btn-group">

                                @Html.ActionLink(await Html.Resource("View"), "ViewChanges", "Webpage", new {id = version.Id}, new {data_toggle = "fb-modal", @class = "btn btn-primary btn-sm"})
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            @Html.PagedListPager(versionsModel.Items, i => Url.Action("Versions", "Webpage", new {Model.Id, page = i}), MrCMSPagedListRenderOptions.Bootstrap4)
        </div>
    }
    else
    {
        <p>@await Html.Resource("Admin Webpage Versions None", "No document versions available").</p>
    }

</div>