@using MrCMS.Web.Admin.Services
@using X.PagedList.Mvc.Core
@using MrCMS.Web.Admin.Models
@model MrCMS.Entities.Documents.Web.Webpage
@inject IWebpageVersionsAdminService _webpageVersionsAdminService
@inject IContentVersionAdminService _contentVersionAdminService
@{
    var webpageVersions = await _webpageVersionsAdminService.GetVersions(Model, ViewData["page"] as int? ?? 1) ?? new VersionsModel(null, Model.Id);
    var contentVersions = await _contentVersionAdminService.GetVersions(Model.Id);
}
<div class="content-item">
    <div class="row">
        <div class="col">
            <h3>Property Versions</h3>
            @if (webpageVersions?.Items != null && webpageVersions.Items.Any())
            {
                <div data-paging-type="async">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>
                                @await Html.Resource("Created On")
                            </th>
                            <th>
                                @await Html.Resource("User")
                            </th>
                            <th>
                                @await Html.Resource("Actions")
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var version in webpageVersions.Items)
                        {
                            <tr>
                                <td>
                                    @version.CreatedOn
                                </td>
                                <td>
                                    @version.FirstName @version.LastName
                                </td>
                                <td>
                                    <div class="btn-group">

                                        @Html.ActionLink(await Html.Resource("View"), "ViewChanges", "Webpage", new { id = version.Id }, new { data_toggle = "fb-modal", @class = "btn btn-primary btn-sm" })
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    @Html.PagedListPager(webpageVersions.Items, i => Url.Action("Versions", "Webpage", new { Model.Id, page = i }), MrCMSPagedListRenderOptions.Bootstrap4)
                </div>
            }
            else
            {
                <p>@await Html.Resource("Admin Webpage Versions None", "No document versions available").</p>
            }
        </div>

        <div class="col">
            <h3>Content Versions</h3>
            @if (contentVersions != null && contentVersions.Any())
            {
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>@await Html.Resource("Date Created")</th>
                        <th>@await Html.Resource("Status")</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var contentVersion in contentVersions)
                    {
                        <tr>
                            <td>@contentVersion.CreatedOn</td>
                            <td>@contentVersion.Status</td>
                            <td class="text-right">
                                @if (contentVersion.IsDraft)
                                {
                                    <a class="btn btn-sm btn-outline-secondary mx-1" asp-controller="ContentVersion" asp-action="Edit" asp-route-id="@contentVersion.Id">
                                        Edit
                                    </a>
                                }
                                @if (contentVersion.IsLive && !contentVersions.Any(x => x.IsDraft))
                                {
                                    <a class="btn btn-sm btn-outline-secondary mx-1" asp-controller="ContentVersion" asp-action="EditLatest" asp-route-id="@Model.Id">
                                        Create Draft
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }

        </div>
    </div>


</div>