@model MrCMS.Entities.Multisite.Site
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   

@using (Html.BeginForm("Add", "Sites", FormMethod.Post))
{
    <div class="modal-header">
        <h3>Add Site</h3>
    </div>
    <div class="modal-body">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
        @Html.LabelFor(x => x.BaseUrl)
        @Html.TextBoxFor(x => x.BaseUrl)
        @Html.ValidationMessageFor(x => x.BaseUrl)
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-primary btn" value="Add site" />
    </div>
}