@using System.Collections.Generic
@using MrCMS.Helpers
@model MrCMS.Models.SiteCopyOptions
@{
    var otherSites = ViewData["other-sites"] as IEnumerable<SelectListItem>;
}
<div class="form-group">
    @Html.LabelFor(options => options.SiteId)
    @Html.DropDownListFor(options => options.SiteId, otherSites, new{@class="form-control"})
    @Html.ValidationMessageFor(options => options.SiteId)
</div>
<div id="other-site-copy-options">
    <div class="form-group">
        @Html.InlineCheckboxFor(options => options.CopyLayouts)
    </div>
    <div class="form-group">
        @Html.InlineCheckboxFor(options => options.CopyMediaCategories)
    </div>
    <div class="form-group">
        @Html.InlineCheckboxFor(options => options.CopyHome)
    </div>
    <div class="form-group">
        @Html.InlineCheckboxFor(options => options.CopyLogin)
    </div>
    <div class="form-group">
        @Html.InlineCheckboxFor(options => options.Copy404)
    </div>
    <div class="form-group">
        @Html.InlineCheckboxFor(options => options.Copy403)
    </div>
    <div class="form-group">
        @Html.InlineCheckboxFor(options => options.Copy500)
    </div>
</div>
