@using MrCMS.Settings
@model System.Collections.Generic.List<MrCMS.Entities.Multisite.Site>
@{
    ViewBag.Title = "Sites";
    var settings = ViewData["Settings"] as List<GlobalSettingsBase>;
}
<form>
<fieldset>
    <legend>Multi-site setup

        <span class="btn-group  display-inline  pull-right">
            @Html.ActionLink("Add", "Add", null, new { @class = "btn btn-success", data_toggle = "fb-modal" })
        </span>
    </legend>
    <table class="table table-striped table-condensed">
        <tr>
            <th>Name
            </th>
            <th>Url
            </th>
            <th>Created On
            </th>
            <th>Actions
            </th>
        </tr>
        @foreach (var site in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(site.Name, "Edit", new { id = site.Id })
                </td>
                <td>
                    @site.BaseUrl
                </td>
                <td>
                    @site.CreatedOn
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = site.Id }, new { @class = "btn btn-danger btn-mini", data_toggle = "fb-modal" })
                </td>
            </tr>
        }
    </table>
    </fieldset>
    </form>
    
