@model MrCMS.Web.Apps.Admin.Models.Forms.FormGDPRTabViewModel


<div class="form-group">
    @Html.LabelFor(x => x.DeleteEntriesAfter)
    @Html.TextBoxFor(model => model.DeleteEntriesAfter, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.DeleteEntriesAfter, "", new { @class = "error" })
</div>

<div class="form-group">
    @Html.InlineCheckboxFor(x=>x.SendByEmailOnly)
</div>

<div class="form-group">
    @Html.InlineCheckboxFor(x=>x.ShowGDPRConsentBox)
</div>
