@using MrCMS.Entities.Documents.Web
@using X.PagedList
@using X.PagedList.Mvc.Core
@model MrCMS.Web.Admin.Models.FormSearchModel
@{
    ViewBag.Title = "Manage Forms";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var results = ViewData["results"] as IPagedList<Form>;
}

<fieldset>
    <legend>
        @Html.Resource("Forms")
        <span class="btn-group d-inline pull-right">
            <a asp-action="Add" asp-controller="Form" class="btn btn-success" data-toggle="fb-modal">@Html.Resource("Add")</a>
        </span>
    </legend>
    <form method="get" asp-action="Index" asp-controller="Form">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">

                    @Html.LabelFor(x => x.Name)
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Name)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">@Html.Resource("Search")</button>
                </div>
            </div>
        </div>
    </form>

    @if (!results.Any())
    {
        <p>
            @Html.Resource("There are currently no forms matching the search criteria")
        </p>
    }
    else
    {
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.Resource("Name")
                    </th>
                    <th>
                        @Html.Resource("Created On")
                    </th>
                    <th>
                        @Html.Resource("Actions")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var form in results)
                {
                    <tr>
                        <td>
                            @form.Name
                        </td>
                        <td>
                            @form.CreatedOn
                        </td>
                        <td>
                            <div class="btn-group">
                                @Html.ActionLink(Html.Resource("Edit"), "Edit", "Form", new { id = form.Id }, new { @class = "btn btn-sm btn-secondary" })
                                @Html.ActionLink(Html.Resource("Delete"), "Delete", "Form", new { id = form.Id }, new { @class = "btn btn-sm btn-danger", data_toggle = "fb-modal" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (results.TotalItemCount > 1)
    {
        @Html.PagedListPager(results, page => Url.Action("Index", new { page, Model.Name }), MrCmsPagedListRenderOptions.Bootstrap4)
    }
</fieldset>

