@using MrCMS.Web.Admin.Infrastructure.Helpers
@using MrCMS.Web.Admin.Services
@using MrCMS.Settings
@using MrCMS.Services
@using MrCMS.ACL.Rules
@using MrCMS.Entities.Documents.Web
@model dynamic
@inject FormAdminService FormAdminService
@inject IGetCurrentPage GetCurrentPage
@{
    var currentPage = GetCurrentPage.GetPage();
    var currentPageId = currentPage?.Id ?? 0;
    var canEditPage = true;
    var postingCountForWebpage = await FormAdminService.GetPostingCountForWebpage(currentPageId);
    var draftVersion = currentPage?.ContentVersions?.FirstOrDefault(f => f.Status == ContentVersionStatus.Draft);
}
<div class="mrcms-admin-nav-bar" data-webpage-id="@currentPageId">
    <div>
        <a href="@Url.Action("Index", "Home", new {area = "Admin"})" target="_parent" class="mrcms-btn mrcms-btn-secondary mrcms-btn-sm">Admin</a>
        @if (currentPage != null)
        {
            if (canEditPage)
            {
                <a href="@Url.Action("Edit", "Webpage", new {currentPage.Id, area = "Admin"})" target="_parent" class="mrcms-btn mrcms-btn-sm mrcms-btn-primary">Edit</a>
            }
        }

        @if (await Html.CanAccess<InlineEditingACL>("Allowed"))
        {
            <a id="enable-editing" class="mrcms-btn mrcms-btn-sm mrcms-btn-secondary">Inline: Off</a>
        }

        @if (currentPage != null)
        {
            if (postingCountForWebpage.Count > 0)
            {
                <a href="/Admin/Form/Edit/@postingCountForWebpage.FormId#form-postings-tab" class="mrcms-btn mrcms-btn-xs mrcms-btn-info" target="_parent">
                    @postingCountForWebpage.Count
                    Form entr@(postingCountForWebpage.Count > 1 ? "ies" : "y")
                </a>
            }
            if (draftVersion != null)
            {
                var isLiveVersion = true;
                var currentVersion = Context.Request.Query["version"];
                if (int.TryParse(currentVersion, out var previewId) && currentPage.ContentVersions.Any(f => f.Id == previewId))
                {
                    if (previewId != currentPage.LiveContentVersion?.Id)
                    {
                        isLiveVersion = false;
                    }
                }

                if (isLiveVersion)
                {
                    <a href="/@currentPage.UrlSegment?version=@draftVersion.Id" target="_parent" class="mrcms-btn mrcms-btn-sm mrcms-btn-warning">View Draft</a>
                }
                else
                {
                    <a href="/@currentPage.UrlSegment" target="_parent" class="mrcms-btn mrcms-btn-sm mrcms-btn-success">View Live</a>
                }
            }
            @if (currentPage.PublishStatus == Webpage.WebpagePublishStatus.Published || currentPage.PublishStatus == Webpage.WebpagePublishStatus.Scheduled)
            {
                var s = ((DateTime) currentPage.PublishOn).ToString("dd MMMM yyyy HH:mm tt");
                if (currentPage.PublishStatus == Webpage.WebpagePublishStatus.Published)
                {
                    <span class="admin-success hidden-small">@($"Published {s}")</span>
                }
                else if (currentPage.PublishStatus == Webpage.WebpagePublishStatus.Scheduled)
                {
                    <span class="admin-success hidden-small">@($"Publish scheduled for {s}")</span>
                }
            }
            else
            {
                <span class="admin-warning hidden-small">Unpublished</span>
            }

            <span class="admin-success" id="save-content-msg" style="display: none;">Saving...</span>
        }
    </div>
    <div class="items-right">
        <a href="/Identity/Account/Logout" class="mrcms-btn mrcms-btn-sm mrcms-btn-secondary">Logout</a>
    </div>
</div>