@using MrCMS.Settings
@using System.Drawing
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MrCMS.Services
@using MrCMS.Web.Admin.ViewComponents
@inject SiteSettings Settings
@inject ICurrentSiteLocator CurrentSiteLocator
@{
    var img = User.GetAvatarUrl();
    var avatarImg = !string.IsNullOrEmpty(img) ? img : "https://via.placeholder.com/160";
    var site = CurrentSiteLocator.GetCurrentSite();
}
<a href="@Url.Action("Index", "Home", new {area = "Admin"})" tabindex="1" class="brand-link">
    @{
        var adminLogo = Settings.AdminLogo;
    }
    @if (!string.IsNullOrWhiteSpace(adminLogo))
    {
        @await Html.RenderImage(adminLogo, new Size(0, 45), attributes: new {@class = "brand-image elevation-1 img-circle"})
    }
    else
    {
        <img src="/Areas/Admin/Content/img/logo.png" class="brand-image elevation-1 img-circle" alt="dashboard logo"/>
    }
    <span class="brand-text fw-light">@site.Name</span>
</a>

<div class="sidebar">

    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="@avatarImg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a asp-controller="User" asp-action="Edit" asp-route-id="@User.GetUserId()" class="d-block">@User.GetFullName()</a>
        </div>
    </div>

    <vc:nav-links/>

</div>