@model MrCMS.Tasks.ScheduledTask
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Edit", "Task", FormMethod.Post))
{
    <fieldset>
        <legend>Edit task
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Edit task" />

            </span>
        </legend>
        @Html.LabelFor(task => task.Type)
        @Html.DisplayFor(task => task.Type)
        @Html.LabelFor(task => task.EveryXMinutes)
        @Html.TextBoxFor(task => task.EveryXMinutes)
        @Html.ValidationMessageFor(task => task.EveryXMinutes)
    </fieldset>
}