@using MrCMS.Settings
@model List<MrCMS.Tasks.ScheduledTask>
@{
    ViewBag.Title = "Scheduled Tasks";
}
<form>
    <fieldset>
        <legend>Scheduled Tasks

            <span class="btn-group  display-inline  pull-right">
                @Html.ActionLink("Add", "Add", null, new { @class = "btn btn-success", data_toggle = "fb-modal" })
            </span>
        </legend>
        
        @if (Model.Any())
        {
            <div class="row-fluid margin-top-0">
                <table class="table table-striped table-condensed margin-top-0">
                    <tr>
                        <th>Type
                        </th>
                        <th>Every X Minutes
                        </th>
                        <th>Last Run
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var task in Model)
                    {
                        <tr>
                            <td>
                                @task.Type
                            </td>
                            <td>
                                @task.EveryXMinutes
                            </td>
                            <td>
                                @(task.LastRun.HasValue ? task.LastRun.Value.ToString("dd/MM/yyyy HH:mm:ss") : "-")
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new {id = task.Id}, new {@class = "btn btn-mini", data_toggle = "fb-modal"})
                                @Html.ActionLink("Delete", "Delete", new {id = task.Id}, new {@class = "btn btn-danger btn-mini", data_toggle = "fb-modal"})
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
        else
        {
            @:Please click 'Add' to add your first scheduled task.
        }
    </fieldset>
</form>


