@using MrCMS.Entities.Documents.Web.FormProperties
@model MrCMS.Entities.Documents.Web.FormProperties.FormProperty
<div class="row">
    <div class="col-lg-7">
        <h4>@Model.GetType().Name.BreakUpString()</h4>
    </div>
    <div class="col-lg-5">
        <div class="pull-right btn-group">
            @Html.ActionLink(await Html.Resource("Edit"), "Edit", "FormProperty", new {id = Model.Id}, new {@class = "btn btn-secondary btn-sm", data_toggle = "fb-modal"})
            @Html.ActionLink(await Html.Resource("Delete"), "Delete", "FormProperty", new {id = Model.Id}, new {@class = "btn btn-sm btn-danger", data_toggle = "fb-modal"})
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-striped table-condensed">
            <tbody>
            <tr>
                <td>@await Html.Resource("Name")</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>@await Html.Resource("Admin Webpage Form Property Label", "Label Text")</td>
                <td>@Model.LabelText</td>
            </tr>
            <tr>
                <td>@await Html.Resource("Required")</td>
                <td>@Model.Required</td>
            </tr>
            @if (Model is IHavePlaceholder havePlaceholder)
            {
                <tr>
                    <td>@await Html.Resource("Placeholder")</td>
                    <td>@havePlaceholder.PlaceHolder</td>
                </tr>
            }
            @if (Model is FormPropertyWithOptions options)
            {
                <tr>
                    <td>@await Html.Resource("Admin Webpage Form Option", "Options")</td>
                    <td>
                        <partial name="FormPropertyOptions" model="options"/>
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
</div>