@model MrCMS.Web.Apps.Articles.Pages.Article
<article>
    <h1 class="margin-top-0">@Editable(Model, p => p.Name, false)</h1>
    @Model.CreatedOn.Day @Model.CreatedOn.ToString("MMMMM") @Model.CreatedOn.Year
    <br />
    @if (!String.IsNullOrEmpty(Model.FeatureImage))
    {
        <a href="/@Model.LiveUrlSegment" class="margin-top-0">@RenderImage(Model.FeatureImage)</a>
    }
    @Editable(Model, page => page.BodyContent, true)
</article>
