@using MrCMS.Helpers
@using MrCMS.Models
@model MrCMS.Settings.MailSettings
<form asp-controller="SystemSettings" asp-action="Mail" method="post">

    <admin-header>
        <row>
            <admin-header-title title="@Html.Resource("admin-settings-mail", "Mail Settings") "/>

            <admin-header-actions>
                <button class="btn btn-primary" type="submit">
                    @Html.Resource("admin-save", "Save")
                </button>
            </admin-header-actions>
        </row>
    </admin-header>

    <card>
        <card-body>
            <div class="form-group">
                @Html.LabelFor(x => x.SystemEmailAddress)
                @Html.TextBoxFor(x => x.SystemEmailAddress, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.SystemEmailAddress)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Host)
                @Html.TextBoxFor(x => x.Host, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.Host)
            </div>
            @Html.EditorFor(x=>x.UseSSL)
            <div class="form-group">
                @Html.LabelFor(x => x.UserName)
                @Html.TextBoxFor(x => x.UserName, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.UserName)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Password)
                @Html.TextBoxFor(x => x.Password, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Port)
                @Html.TextBoxFor(x => x.Port, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.Port)
            </div>
        </card-body>
    </card>

</form>

<card>
    <card-body>
        <partial name="TestEmailSettings" model="null"/>
    </card-body>
</card>
