@model TestEmailInfo

@using (Html.BeginForm("TestMailSettings", "SystemSettings", FormMethod.Post, new {id = "edit-settings"}))
{
    <fieldset>
        <legend>
            @Html.Resource("Send Test Email")
            <span class="btn-group pull-right">
                <button class="btn btn-primary" type="submit">
                    @Html.Resource("Send email")
                </button>
            </span>
        </legend>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    @Html.LabelFor(x => x.Email)
                    @Html.TextBoxFor(x => x.Email, new {@class = "form-control"})
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
            </div>
        </div>
    </fieldset>
}
