@using MrCMS.Helpers
@model IList<MrCMS.Web.Areas.Admin.Models.WebpageStats>

<h4>@Resource("Admin Dashboard Page stats", "Page stats")</h4>
<table class="table table-striped table-condensed" style="overflow: scroll">
    <thead>
        <tr>
            <th>@Resource("Admin Dashboard Page Stats", "Page type")
            </th>
            <th>@Resource("Admin Dashboard Total", "Total")
            </th>
            <th>@Resource("Admin Dashboard Unpublished", "Unpublished")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stat in Model)
        {
            <tr>
                <td>@DocumentMetadataHelper.GetMetadataByTypeName(stat.DocumentType).Name</td>
                <td>@stat.NumberOfPages
                </td>
                <td>@stat.NumberOfUnPublishedPages
                </td>
            </tr>
        }
    </tbody>
</table>
