@using MrCMS.Entities.Documents
@using MrCMS.Helpers
@model MrCMS.Entities.Documents.Web.Webpage
@{
    ViewBag.Title = "Add Webpage";
}
@{ Html.IncludeScript("~/Areas/Admin/Content/Scripts/custom/add-webpage.js");}

@using (Html.BeginForm("Add", "Webpage", new { id = "" }, FormMethod.Post))
{
    <fieldset>
        <legend>Add page

            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Save and continue" />
            </span>
        </legend>

        @Html.ValidationSummary()

        <div class="row-fluid">
            <div class="span2">
                @{ //pre select radio if there is only one option
                    var count = 0;
                    var documentMetadatas = ViewData["DocumentTypes"] as List<DocumentMetadata>;

                    if (documentMetadatas != null)
                    {
                        count = documentMetadatas.Count;
                    }
                }

                @foreach (var documentType in documentMetadatas)
                {
                    <label class="radio">
                        <i class="@documentType.IconClass">&nbsp;</i>
                        <input id="DocumentType" name="DocumentType" type="radio" value="@documentType.TypeName" required  @(count == 1 ? "checked" : "")>
                        @documentType.Name
                    </label>
                }
            </div>
            <div class="span10">
                @Html.HiddenFor(x => x.Parent.Id)
                @Html.LabelFor(x => x.Name, "Page Name")
                @Html.TextBoxFor(x => x.Name, new { @class = "span12", autocomplete = "off" })

                @Html.LabelFor(x => x.UrlSegment, "Url")
                @Html.TextBoxFor(x => x.UrlSegment, new { @class = "span12" })

                <label class="checkbox">
                    <input type="checkbox" name="mode" id="mode" value="1" checked />
                    Maintain Hierarchy
                </label>
                @Html.LabelFor(x => x.Layout)
                @Html.DropDownListFor(x => x.Layout.Id, ViewData["Layout"] as IEnumerable<SelectListItem>)
            </div>
        </div>
        
        <hr />



    </fieldset>
}