@using MrCMS.Helpers
@model MrCMS.Entities.Documents.Web.Webpage
<div class="tab-pane" id="form-message-tab">
    <div class="row-fluid margin-top-0">
        <div class="span12">
            <h4 class="margin-top-0">Message to show after form is submitted</h4>

            @Html.LabelFor(webpage => webpage.FormSubmittedMessage)
            @Html.TextBoxFor(webpage => webpage.FormSubmittedMessage, new { @class = "span12" })
            @Html.ValidationMessageFor(x => x.FormSubmittedMessage, "", new { @class = "error" })

            <h4>Email Settings</h4>
            @Html.LabelFor(webpage => webpage.FormEmailTitle, "Subject")
            @Html.TextBoxFor(webpage => webpage.FormEmailTitle, new { @class = "span12" })
            @Html.ValidationMessageFor(x => x.FormEmailTitle, "", new { @class = "error" })

            @Html.LabelFor(webpage => webpage.SendFormTo, "To")
            @Html.TextBoxFor(webpage => webpage.SendFormTo, new { @class = "span12" })
            @Html.ValidationMessageFor(x => x.SendFormTo, "", new { @class = "error" })
            
            @Html.LabelFor(webpage => webpage.FormMessage, "Message")
            @Html.TextAreaFor(x => x.FormMessage, new { @class = "ckedit-enabled" })

             @Html.InfoBlock("Heads up! ", "Use [form] in the message body to embded the form result in the email.")

        </div>
    </div>
</div>
