@model MrCMS.Entities.Documents.Web.Webpage
<div class="tab-pane" id="permissions-admin">
    <h4>Admin</h4>
    @Html.LabelFor(webpage => webpage.InheritAdminRolesFromParent)
    @Html.CheckBoxFor(webpage => webpage.InheritAdminRolesFromParent)
    <div id="admin-roles" style="display: @(Model.InheritAdminRolesFromParent ? "none" : "block")">
        @Html.LabelFor(webpage => webpage.AdminRoles)
        @Html.TextBoxFor(webpage => webpage.AdminRoles)
    </div>
</div>
