@model MrCMS.Entities.Documents.Web.Webpage
<div class="tab-pane" id="permissions-front-end">
    <h4>Front End</h4>
    @Html.LabelFor(webpage => webpage.InheritFrontEndRolesFromParent)
    @Html.CheckBoxFor(webpage => webpage.InheritFrontEndRolesFromParent)
    <div id="front-end-roles" style="display: @(Model.InheritFrontEndRolesFromParent ? "none" : "block")">
        @Html.LabelFor(webpage => webpage.FrontEndRoles)
        @Html.TextBoxFor(webpage => webpage.FrontEndRoles)
    </div>
</div>
