@model MrCMS.Entities.Documents.Web.Redirect
@Html.LabelFor(redirect => redirect.RedirectUrl)
@Html.TextBoxFor(redirect => redirect.RedirectUrl, new { @class = "col-lg-12" })
@Html.ValidationMessageFor(redirect => redirect.RedirectUrl)
<label class="checkbox" for="Permanent">
    @Html.CheckBoxFor(redirect => redirect.Permanent) 301 Pemanent
</label>
@Html.ValidationMessageFor(redirect => redirect.Permanent)