@using MrCMS.Entities.Documents.Web
@using MrCMS.Helpers
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@model MrCMS.Entities.Documents.DocumentVersion
@{Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
<style type="text/css">
    #changes-table tr.unchanged { background-color: rgb(203, 255, 203); }
    #changes-table tr.changed { background-color: rgb(255, 209, 209); }
    #changes-table pre { font-size: 0.6em; }
</style>
<div class="modal-header">
    <h3>Changes - Version from @Model.CreatedOn</h3>
</div>
<div class="modal-body">
    <p>Edited by @Html.ActionLink(Model.User.Email, "Edit", "User", new { id = Model.User.Id }, null)</p>
    <table class="table table-bordered" id="changes-table">
        <thead>
            <tr>
                <th>Property
                </th>
                <th>Previous
                </th>
                <th>Current
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var change in Model.GetComparisonToCurrent())
            {
                <tr class="@(change.AnyChange ? "changed" : "unchanged")">
                    <td>
                        @change.Property
                    </td>
                    <td>
                        @Html.RenderValue(change.PreviousValue)
                    </td>
                    <td>
                        @Html.RenderValue(change.CurrentValue)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
