@using MrCMS.Helpers
@model MrCMS.Settings.SecuritySettings

@using (Html.BeginForm("Settings", "SecurityOptions", FormMethod.Post))
{
    <fieldset>
        <div class="form-group">
            @Html.EditorFor(x=>x.TwoFactorAuthEnabled)
        </div>
        <div class="form-group">
            @Html.EditorFor(x=>x.LogLoginAttempts)
        </div>
        <div class="form-group">
            @Html.EditorFor(x=>x.SendLoginNotificationEmails)
        </div>
        <div class="form-group">
            @Html.EditorFor(x=>x.SendScriptChangeNotificationEmails)
        </div>

        <button class="btn btn-primary">
            @Html.Resource("Save")
        </button>

    </fieldset>
}