@using System.Linq
@using MrCMS.Entities.Resources
@using X.PagedList
@using X.PagedList.Mvc.Core
@using StringResourceExtensions = MrCMS.Web.Areas.Admin.Services.StringResourceExtensions
@model MrCMS.Web.Areas.Admin.Models.StringResourceSearchQuery
@{
    var resources = ViewData["results"] as IPagedList<StringResource>;
    var languageOptions = ViewData["language-options"] as List<SelectListItem> ?? new List<SelectListItem>();
    var siteOptions = ViewData["site-options"] as List<SelectListItem> ?? new List<SelectListItem>();
}

<form asp-controller="Resource" asp-action="Index" method="get">

    <admin-header>
        <row>
            <admin-header-title title="@Html.Resource("admin-resources", "Resources") "/>

            <admin-header-actions>
                <span class="btn-group">
                    @Html.ActionLink(Html.Resource("Admin Resource Export", "Export All"), "Export", "ResourceUpdate", new {}, new {@class = "btn btn-secondary"})
                    @Html.ActionLink(Html.Resource("Admin Resource Export Filtered", "Export As Filtered"), "Export", "ResourceUpdate", new {Model.Key, Model.Value}, new {@class = "btn btn-secondary"})

                    <input type="submit" class="btn btn-primary" value="@Html.Resource("Filter")"/>
                </span>
            </admin-header-actions>
        </row>
    </admin-header>

    <card>
        <card-body>
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(query => query.Key)
                        @Html.TextBoxFor(query => query.Key, new {@class = "form-control"})
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(query => query.Value)
                        @Html.TextBoxFor(query => query.Value, new {@class = "form-control"})
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(query => query.SiteId)
                        @Html.DropDownListFor(query => query.SiteId, siteOptions, new {@class = "form-control"})
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(query => query.Language)
                        @Html.DropDownListFor(query => query.Language, languageOptions, new {@class = "form-control"})
                    </div>
                </div>
            </div>


            @if (!resources.Any())
            {
                @Html.Resource("Admin Resources No Resources", "No resources")
            }
            else
            {
                <table class="table table-striped table-condensed" style="overflow: scroll">
                    <thead>
                    <tr>
                        <th>
                            @Html.Resource("Key")
                        </th>
                        <th>
                            @Html.Resource("Value")
                        </th>
                        <th>
                            @Html.Resource("Site")
                        </th>
                        <th>
                            @Html.Resource("Language")
                        </th>
                        <th>
                            @Html.Resource("Actions")
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var resource in resources)
                    {
                        <tr>
                            <td>
                                @StringResourceExtensions.GetDisplayKey(resource.Key)
                            </td>
                            <td>
                                @resource.Value
                            </td>
                            <td>
                                @resource.DisplaySite
                            </td>
                            <td>
                                @resource.DisplayUICulture
                            </td>
                            <td>
                                <div class="btn-group">
                                    @Html.ActionLink("Edit", "Edit", "Resource", new {id = resource.Id}, new {@class = "btn btn-sm btn-secondary", data_toggle = "fb-modal"})
                                    @if (resource.IsDefault)
                                    {
                                        <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                            Add override <span class="caret"></span>
                                        </button>
                                        <div class="dropdown-menu" role="menu">
                                            @Html.ActionLink("Site", "ChooseSite", "Resource", new {resource.Key}, new { @class = "dropdown-item", data_toggle = "fb-modal"})
                                            @Html.ActionLink("Language", "Add", "Resource", new {resource.Key, language = true}, new { @class = "dropdown-item", data_toggle = "fb-modal"})
                                            @Html.ActionLink("Site & Language", "ChooseSite", "Resource", new {resource.Key, language = true}, new { @class = "dropdown-item", data_toggle = "fb-modal"})
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Delete", "Delete", "Resource", new {id = resource.Id}, new {@class = "btn btn-danger btn-sm", data_toggle = "fb-modal"})
                                    }

                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }


            @Html.PagedListPager(resources, page => Url.Action("Index", new {page, Model.Key, Model.Language, Model.Value, Model.SiteId}), 
                MrCmsPagedListRenderOptions.Bootstrap4)

        </card-body>
    </card>

</form>

<form asp-controller="ResourceUpdate" asp-action="Import" method="post" enctype="multipart/form-data">

    <admin-header>
        <row>
            <admin-header-title title="@Html.Resource("admin-resources-import",
        "Import Resources")"/>

            <admin-header-actions>
                <button class="btn btn-secondary">
                    @Html.Resource("Admin Resources Import Button",
        "Import")
                </button>
            </admin-header-actions>
        </row>
    </admin-header>

    <card>
        <card-body>
            <input type="file" name="file" class="form-control"/>
        </card-body>
    </card>

</form>
