@model MrCMS.Models.SiteTree<MrCMS.Entities.Documents.Layout.Layout>
<div id="layout" class="tab-pane">
    <div class="sidebar-nav">
        <ul class="filetree collapsable browser layout-tree">
            <li data-id="@Model.Id" data-sort-id="@Model.ParentId" data-controller="@Model.NodeType" ><i class="@Model.IconClass">&nbsp;</i>
                @Html.ActionLink(Model.Name, "Edit", Model.NodeType, new { id = Model.Children.Any() ? Model.Children.FirstOrDefault().Id : 1 }, null)
                @{ Html.RenderPartial("TreeChildren", Model.ChildrenModel); }
            </li>
        </ul>
    </div>
</div>
