@model MrCMS.Models.SiteTree<MrCMS.Entities.Documents.Web.Webpage>
<div id="web" class="tab-pane">
    <div class="sidebar-nav">
        <ul data-href="@Url.Action("Sort", "Webpage")" class="filetree collapsable browser web-tree"  >
            <li data-id="@Model.Id" data-sort-id="@Model.ParentId" data-controller="@Model.NodeType" ><i class="@Model.IconClass">&nbsp;</i>
                @Html.ActionLink(Model.Name, "Edit", Model.NodeType, new { id = Model.Children.Any() ? Model.Children.FirstOrDefault().Id : 1 }, null)
                @{ Html.RenderPartial("TreeChildren", Model.ChildrenModel); }
            </li>
        </ul>
    </div>
    <strong>Key</strong> <hr class="small-margin" />
    <span class="grey">Not included in site navigation</span><br />
    <span class="orange">Not published</span><br />
</div>
