@using System.Linq
@using MrCMS.Entities.Documents.Media
@using MrCMS.Helpers
@using MrCMS.Settings
@using X.PagedList
@using X.PagedList.Mvc.Core
@model MrCMS.Web.Apps.Admin.Models.MediaSelectorSearchQuery
@inject MediaSettings MediaSettings
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
    var categories = ViewData["categories"] as List<SelectListItem> ?? new List<SelectListItem>();
    var results = ViewData["results"] as IPagedList<MediaFile>;
}
<div data-type="media-selector-popup" style="min-height: 450px;">
    @using (Html.BeginForm("Show", "MediaSelector", FormMethod.Get, new { id = "search-form", @class = "form-inline" }))
    {
        <fieldset>
            <legend>
                @Html.Resource("Admin Media Selector Media Selector Title", "Media Selector")
            </legend>
            <div class="form-container">
                <div class="form-group folder-dropdown">
                    @Html.DropDownListFor(query => query.CategoryId, categories, new { @class = "form-control col-sm-6" })
                    @Html.ValidationMessageFor(query => query.CategoryId)
                </div>
                <div class="form-group search-text">
                    @Html.TextBoxFor(query => query.Query, new { @class = "form-control col-xs-4", @placeholder = Html.Resource("Admin - Media Selector Search Placeholder", "Search") })
                    @Html.ValidationMessageFor(query => query.Query)
                </div>
                <input type="submit" class="btn btn-primary col-lg-12 search-btn" value="@Html.Resource("Search")" />
            </div>
        </fieldset>
    }

    <div id="results">
        <div id="fileupload" data-message="@Html.Resource("Click here or drag files to upload")" class="dropzone margin-bottom-10 pt-3"></div>

        <input type="hidden" value="@Url.Action("Files", "File", new { Id = Model.CategoryId })" id="action-url" />


        <div id="progress" class="progress" style="height: 30px; display: none; margin-bottom: 5px;">
            <div class="bar"><span id="percent-complete" style="text-align: center;"></span></div>
        </div>
        <div id="files" class=""></div>


        <input type="hidden" id="allowedFileTypes" value="@FileTypeUploadSettings.AllowedFileTypes" />
        <input type="hidden" id="maxFileSizeUpload" value="@MediaSettings.MaxFileSizeUpload" />

        @if (results.Any())
        {
            foreach (var file in results)
            {
                <partial name="FileResult" model="file" />
            }
            <div class="clearfix"></div>

            @Html.PagedListPager(results, page => Url.Action("Show", new { page }))
        }
        else
        {
            <p>
                @Html.InfoBlock("", Html.Resource("Admin Media No Files Message", "There are no files here yet - why not upload some?"))
            </p>
        }
    </div>
</div>