@using MrCMS.Entities.Documents.Web
@using MrCMS.Helpers
@using MrCMS.Services
@using IGetEditTabsService = MrCMS.Web.Areas.Admin.Services.IGetEditTabsService
@using AdminMessages = MrCMS.Web.Areas.Admin.Models.AdminMessages
@model Webpage
@inject IGetEditTabsService TabsService
@inject IGetLiveUrl GetLiveUrl
@{
    ViewBag.Title = "Edit | " + Model.Name;
    ViewData["webpage"] = Model;
    var tabs = TabsService.GetEditTabs(Html, Model);
}

<form asp-controller="Webpage" asp-action="edit" id="edit-document" data-are-you-sure="@Html.Resource(AdminMessages.AreYouSureDefaultMessage)" method="post">
    <admin-header>
        <row>
            <admin-header-title title="@Model.Name" />
            
            <admin-header-actions>
                <div class="input-group" id="edit-webpage-options">
                    <span class="@(Model.PublishStatus == Webpage.WebpagePublishStatus.Published ? "text-success" : "text-warning")" style="line-height: 38px;">@Html.Resource(Model.PublishStatus.ToString())&nbsp;</span>

                    <input type="text" asp-for="PublishOn" class="form-control date-time-picker"/>
                    @Html.ValidationMessageFor(x => x.PublishOn)

                    <div class="input-group-append">
                        @(Model.PublishOn == null ? Html.ActionLink(Html.Resource("Publish Now"), "PublishNow", new {id = Model.Id}, new {@class = "btn btn-warning", id = "publish-status-change"}) : Html.ActionLink(Html.Resource("Unpublish"), "Unpublish", new {id = Model.Id}, new {@class = "btn btn-success", id = "publish-status-change"}))

                        <a href="@(await GetLiveUrl.GetUrlSegment(Model, true))" class="btn btn-secondary">View</a>

                        @*@Html.ActionLink(Html.Resource("Move"), "Set", "WebpageParent", new {Model.Id}, new {data_toggle = "fb-modal", @class = "btn btn-secondary"})*@
                        @Html.ActionLink(Html.Resource("Move"), "Index", "MoveWebpage", new { Model.Id }, new { @class = "btn btn-secondary" })
                        @if (Html.AnyChildren())
                        {
                            @Html.ActionLink(Html.Resource("Merge"), "Index", "MergeWebpage", new {Model.Id}, new {@class = "btn btn-secondary"})
                        }

                        @if (Html.CanDelete())
                        {
                            <a class="btn btn-danger" data-toggle="confirmation" data-value="@Url.Action("Delete", "Webpage", new {id = Model.Id})" data-id="@Model.Id" data-placement="bottom">@Html.Resource("Delete")</a>
                        }
                        <button class="btn btn-primary">@Html.Resource("Save")</button>
                    </div>
                </div>
            </admin-header-actions>
        </row>
    </admin-header>

    <card>
        <card-body>
            <ul class="nav nav-tabs" data-stickytabs="webpage-@Model.Id" role="tablist">
                @foreach (var tab in tabs)
                {
                    ViewData["is-first"] = tab == tabs.First();
                    <partial name="Tab" model="tab" view-data="ViewData"/>
                }
            </ul>
            <div class="tab-content mt-3">
                @foreach (var tab in tabs)
                {
                    ViewData["is-first"] = tab == tabs.First();
                    <partial name="TabContent" model="tab" view-data="ViewData"/>
                }
            </div>
        </card-body>
    </card>
</form>

@{
    Html.IncludeScript("~/Areas/Admin/scripts/edit-webpage.js");
}