@using MrCMS.Entities.Documents.Web
@using MrCMS.Helpers
@model MrCMS.Web.Apps.Admin.Models.WebpageEdit.PermissionsTabViewModel

<div class="content-item">

                @Html.InlineCheckboxFor(webpage => webpage.HasCustomPermissions)
    <div data-custom-permissions>
        <hr class="small-margin" />
        <div class="form-group">
            @Html.LabelFor(webpage => webpage.PermissionType)
            @Html.DropDownListFor(webpage => webpage.PermissionType, EnumHelper<WebpagePermissionType>.GetOptions(), new { @class = "form-control" })
        </div>

        <div data-custom-permissions-type="@nameof(WebpagePermissionType.RoleBased)">
            <div class="form-inline">
                @Html.InlineCheckboxFor(webpage => webpage.InheritFrontEndRolesFromParent, null, null, "Same as parent?")
            </div>

            <div data-custom-permissions-roles class="form-group">

                @Html.LabelFor(webpage => webpage.FrontEndRoles)
                @Html.TextBoxFor(webpage => webpage.FrontEndRoles)
            </div>
        </div>
        <div data-custom-permissions-type="@nameof(WebpagePermissionType.PasswordBased)" class="form-group">

            @Html.LabelFor(webpage => webpage.Password)
            @Html.TextBoxFor(webpage => webpage.Password, new { @class = "form-control" })
        </div>
    </div>
</div>
