@using MrCMS.Helpers
@using MrCMS.Web.Admin.Helpers
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@model MrCMS.Entities.Documents.DocumentVersion
<fieldset>
    <legend>
        @Html.Resource("Admin Webpage Version", "Version") @Model.Id
        @if (Model.AnyDifferencesFromCurrent())
        {
            using (Html.BeginForm("Revert", "Versions", new { id = Model.Id }, FormMethod.Post))
            {
                <span class="btn-group d-inline pull-right">
                    <input type="submit" class="btn btn-primary" value="Revert to version" />
                </span>
            }
        }
    </legend>
    @Html.Resource("Admin Webpage Version Edited By", "Edited by") @(Model.User == null ? @Html.Raw("System") : Html.ActionLink(Model.User.Email, "Edit", "User", new { id = Model.User.Id }, null)) on @Model.CreatedOn
    <table class="table table-bordered" id="changes-table">
        <thead>
            <tr>
                <th>
                    @Html.Resource("Property")
                </th>
                <th>
                    @Html.Resource("Previous")
                </th>
                <th>
                    @Html.Resource("Current")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var change in Model.GetComparisonToCurrent())
            {
                <tr class="@(change.AnyChange ? "changed" : "unchanged")">
                    <td>
                        @change.Property
                    </td>
                    <td>
                        @Html.RenderValue(change.PreviousValue)
                    </td>
                    <td>
                        @Html.RenderValue(change.CurrentValue)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</fieldset>
