@using MrCMS.Entities.Documents.Web
@using MrCMS.Web.Admin.Infrastructure.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MrCMS.Web.Admin.Models.MergeWebpageModel
@{
    var webpage = ViewData["webpage"] as Webpage;
}
<form asp-controller="MergeWebpage" asp-action="Index" asp-route-id="" method="post">
    <admin-header>
        <row>
            <admin-header-title title="@await Html.Resource("Admin Webpage Merge", "Merge", option=> option.DisableInlineEditing())"/>
        </row>
    </admin-header>
    
    <p>
        @await Html.Resource("Admin Webpage Merge - Info", "This will merge {webpageName} so that {webpageName} will cease to exist. Any child sections/pages will become part of the section selected below.",configureOptions=>configureOptions.AddReplacement("webpageName",webpage?.Name))
    </p>
    <p>
        @await Html.Resource("Admin Webpage Merge - Info 2", "If {webpageName} has child sections, those will be moved underneath.", configureOptions=>configureOptions.AddReplacement("webpageName",webpage?.Name))
    </p>
    @Html.HiddenFor(x => x.Id)
    <div class="form-group">
        @Html.LabelFor(x => x.MergeIntoId, "Page")
        @Html.DropDownListFor(x => x.MergeIntoId, ViewData["valid-parents"] as IEnumerable<SelectListItem>, new {data_parent_chooser = "", @class = "select2", @style = "width:100%;"})
    </div>

    <div class="form-group">
        @Html.InlineCheckboxFor(x => x.UpdateUrls, checkboxAttributes: new {data_update_urls = ""})
    </div>

    <div class="alert alert-info" data-update-urls-warning style="display: none">
        @await Html.Resource("Admin Webpage Merge - Url update info", "Be aware that this will re-write URLs of all child pages. 301 redirects will be added however changing URLs of pages indexed by search engines is not recommended")
    </div>
    <hr/>
    <div class="btn-group">
        <button type="submit" class="btn btn-primary">@await Html.Resource("Proceed")</button>
        @Html.ActionLink(await Html.PlainResource("Cancel"), "Edit", "Webpage", new {Model.Id}, new {@class = "btn btn-default"})
    </div>


</form>