@using System.Collections.Generic
@using MrCMS.Entities.People
@using MrCMS.Settings
@using MrCMS.Web.Apps.Admin.Models
@model MrCMS.Web.Apps.Admin.Models.UpdateSiteModel
@{
    ViewBag.Title = "Edit | " + Model.Name;
}
@using (Html.BeginForm("Edit", "Sites", FormMethod.Post, new {id = "edit-site"}))
{
    <admin-header>
        <row>
            <admin-header-title title="@Model.Name"/>

            <admin-header-actions>
                @Html.ActionLink("Back to list", "Index", "Sites", null, new {@class = "btn btn-secondary"})
                <button class="btn btn-primary">
                    @Html.Resource("Save")
                </button>
            </admin-header-actions>
        </row>
    </admin-header>

    <card>
        <card-body>
            <div class="form-group">
                @Html.HiddenFor(x => x.Id)
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.BaseUrl)
                @Html.TextBoxFor(x => x.BaseUrl, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.BaseUrl)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.StagingUrl)
                @Html.TextBoxFor(x => x.StagingUrl, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.StagingUrl)
            </div>

            <partial name="RestrictedDomains" model="Model"/>

        </card-body>
    </card>
}