@using System.Web.Mvc.Html
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Commenting.ModelBinders
@model MrCMS.Web.Apps.Commenting.Settings.CommentingSettings
@{
    var pageTypes = ViewData["page-types"] as List<Type> ?? new List<Type>();
    var commentApprovalTypes = ViewData["comment-approval-types"] as List<SelectListItem> ?? new List<SelectListItem>();
}
@using (Html.BeginForm("Index", "CommentingSettings", FormMethod.Post))
{
    <fieldset>
        <legend>Commenting Settings
            <div class="btn-group display-inline pull-right">
                <input class="btn btn-primary" type="submit" value="Save settings" />
            </div>
        </legend>
        @Html.InlineCheckboxFor(settings => settings.AllowGuestComments)
        @Html.InlineCheckboxFor(settings => settings.AllowVoting)
        @Html.LabelFor(settings => settings.CommentApprovalType)
        @Html.DropDownListFor(settings => settings.CommentApprovalType, commentApprovalTypes)
        @Html.LabelFor(settings => settings.NotifyCommentAddedEmail)
        @Html.TextBoxFor(settings => settings.NotifyCommentAddedEmail)
@*        @Html.LabelFor(settings => settings.InitialNumberOfCommentsToShow)
        @Html.TextBoxFor(settings => settings.InitialNumberOfCommentsToShow)*@
    </fieldset>
    if (pageTypes.Any())
    {
    <fieldset>
        <legend>Page types with comments</legend>
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Type
                    </th>
                    <th>Has comments?
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var type in pageTypes.OrderBy(type => type.Name))
                {
                    <tr>
                        <td>
                            @DocumentMetadataHelper.GetMetadataByType(type).Name
                        </td>
                        <td>
                            @Html.CheckBox(CommentingSettingsModelBinder.PageType + type.FullName, Model.AllowedTypes.Contains(type))
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>
    }
}