@model MrCMS.Entities.Documents.Layout.LayoutArea
@{
    ViewBag.Title = "Edit | " + Model.AreaName;
}

@using (Html.BeginForm("Edit", "LayoutArea", FormMethod.Post, new {id = "edit-document"}))
{
    <fieldset>
        <legend>@Model.AreaName
            
            <span class="btn-group  display-inline  pull-right">
                @Html.ActionLink("Back to Layout", "Edit", "Layout", new {id = Model.Layout.Id}, new {@class = "btn"})
                <a href="@Url.Action("Delete", "LayoutArea", new {id = Model.Id})" class="btn btn-danger" data-toggle="fb-modal">Delete</a>
                <button class="btn btn-primary" id="save-edit" data-action="save" data-form-id="edit-document">
                    Save</button>
            </span>
        </legend>

        @Html.HiddenFor(x => x.Id)
        @Html.LabelFor(x => x.AreaName)
        @Html.TextBoxFor(x => x.AreaName, new {@class = "span12"})

        @{
            if (Model.GetWidgets().Any())
            {
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Name
                            </th>
                            <th>Type
                            </th>
                            <th>Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var widget in Model.GetWidgets())
                        {
                            <tr>
                                <td>@widget.Name</td>
                                <td>
                                    @widget.WidgetTypeFormatted
                                </td>
                                <td>
                                    <div class="btn-group">
                                        @Html.ActionLink("Edit", "Edit", "Widget", new {id = widget.Id}, new {@class = "btn btn-mini", @data_toggle="fb-modal"})
                                        <a href="@Url.Action("Delete", "Widget", new {id = widget.Id})" class="btn btn-mini btn-danger" data-toggle="fb-modal">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                @:<p>Click add widget to add the first widget to this area.</p>
            }
        }
        
        <div class="btn-group">
            <a href="@Url.Action("Add", "Widget", new {id = Model.Id, returnUrl = Request.Url})" class="btn btn-mini" data-toggle="fb-modal">Add widget</a>
            @{
                if (Model.GetWidgets().Any())
                {
                    @Html.ActionLink("Sort widgets", "SortWidgets", "LayoutArea", new {id = Model.Id, returnUrl = Request.Url.ToString()}, new {@class = "btn btn-mini", @data_toggle="fb-modal"})
                }
            }

        </div>

    </fieldset>
    
    <hr />
}