@using MrCMS.Entities.Widget
@using MrCMS.Helpers
@model MrCMS.Models.PageWidgetSortModel
@{
    ViewBag.Title = "Sort Widgets for page";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
}
@{Html.IncludeScript("~/Areas/Admin/Content/Scripts/Custom/sort.js");}
<div class="modal-header">
    <h3>Sort widgets</h3>
</div>
<div class="modal-body">
    @using (Html.BeginForm("SortWidgetsForPage", "LayoutArea", FormMethod.Post, new { id = "edit-sort" }))
    {
        @Html.Hidden("returnUrl", ViewData["returnUrl"])
        @Html.Hidden("LayoutAreaId", Model.LayoutAreaId)
        @Html.Hidden("WebpageId", Model.WebpageId)
        <ul id="sortable">
            @for (int i = 0; i < Model.Widgets.Count; i++)
            {
                var widget = Model.Widgets[i];
                <li>
                    @Html.HiddenFor(model => model.Widgets[i].Id)
                    @Html.HiddenFor(model => model.Widgets[i].Order)
                    <i class="icon-resize-full"></i>&nbsp;&nbsp;
                @widget.Name
                </li>
            }
        </ul>
    }
    @Html.InfoBlock("Heads up! ", "Drag items in to the order you would like then click save.")

</div>
<div class="modal-footer">
    <button class="btn btn-primary" id="save" data-form-id="edit-sort" data-action="save">
        Save</button>
</div>
