@using System.Drawing
@using MrCMS.Helpers
@model MrCMS.Entities.Documents.Media.MediaFile
<div class="file-result" data-file-result="@Model.Id">
    <div class="header">
        @if (Model.IsImage())
        {
            <a href="#" data-media-toggle="@Model.Id">
                @await Html.RenderImage(Model.FileUrl, new Size(180, 180), attributes: new { @class = "img-thumbnail" })
            </a>
        }
        else
        {
            <a href="#" data-media-toggle="@Model.Id" title="@Model.FileName">
                <div class="img-thumbnail unknown-file">
                    <span><i class="fa fa-files-o"></i>@Model.FileExtension</span>
                    <small class="text-truncate d-block px-2">@Model.FileName</small>
                </div>
            </a>
        }
    </div>
    <div class="content" style="display: none" data-media-result="@Model.Id">
        @if (Model.IsImage())
        {
            <table>
                <tbody>
                    <tr>
                        <td class="d-block font-italic mt-2 mx-2 small">
                            @Model.CreatedOn.ToShortDateString() -  <b>@(Model.ContentLength / 1000) kb</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="d-block font-italic mx-2 small">@Model.FileName</td>
                    </tr>
                    <tr>
                        <td>
                            @foreach (var size in Html.GetImageSizes(Model))
                            {
                                <div class="form-check">
                                    @{
                                        var id = "SelectedFile-" + Model.Id + "-" + size.Width + "-" + size.Height;
                                    }
                                    @Html.RadioButton("SelectedFile", Model.Id + "-" + size.Width + "-" + size.Height, new { id, data_file = Model.Id, @class = "form-check-input" })
                                    @Html.Label(id, new { @class = "form-check-label text-sm" }, size.Name + " (" + size.ActualWidth + "px x " + size.ActualHeight + "px)")
                                </div>
                            }

                            <input type="button" class="btn-primary btn btn-sm" data-file="@Model.Id" data-action="select" disabled="disabled" value="@await Html.Resource("Admin Media Choose File", "Choose File")" />
                        </td>
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            var id = "SelectedFile-" + Model.Id;
            @Html.RadioButton("SelectedFile", Model.FileUrl, new { id, data_file = Model.Id })
            @Html.Label(id, "Select file")

            <input type="button" class="btn-primary btn set-file" data-file="@Model.Id" data-action="select" disabled="disabled" value="@await Html.Resource("Admin Media Choose File", "Choose File")" />
        }
    </div>
</div>
