@model MrCMS.Entities.Documents.Layout.Layout
@{
    ViewBag.Title = "Add Layout";
}
@using (Html.BeginForm("Add", "Layout", new { id = "" }, FormMethod.Post, new { id = "add-layout" }))
{
    <fieldset>
        <legend>
            Add Layout
            <button class="btn pull-right btn-primary">
                Add
            </button>
        </legend>

        <div class="row">
            <div class="col-lg-12">
                @Html.HiddenFor(x => x.Parent.Id)
                <div class="form-group">
                    @Html.LabelFor(x => x.Name)
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "error" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.UrlSegment)
                    @Html.TextBoxFor(x => x.UrlSegment, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.UrlSegment, "", new { @class = "error" })
                </div>
            </div>
        </div>
    </fieldset>
}