@model MrCMS.Messages.MessageTemplate
@{
    ViewBag.Title = "Add Message Template Site Override";
}
<form asp-controller="MessageTemplate" asp-action="AddSiteOverride" method="post" id="edit-message-template" asp-route-TemplateType="@Model.GetType().FullName">

    <admin-header>
        <row>
            <admin-header-title title="@string.Format(await Html.Resource("admin-message-template-add-override", "Add {0} Override"), Model.GetType().Name.BreakUpString())" />

            <admin-header-actions>
                <span class="btn-group">
                    @Html.ActionLink(await Html.Resource("Back"), "Index", "MessageTemplate", null, new { @class = "btn btn-secondary" })
                    <input class="btn btn-primary" type="submit" value="@await Html.Resource("Save")" />
                </span>
            </admin-header-actions>
        </row>
    </admin-header>


    @Html.HiddenFor(@base => @base.SiteId)
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="FromAddress"></label>
                <input asp-for="FromAddress" type="text" class="form-control" />
                <span asp-validation-for="FromAddress"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromName"></label>
                <input asp-for="FromName" type="text" class="form-control" />
                <span asp-validation-for="FromName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cc"></label>
                <input asp-for="Cc" type="text" class="form-control" />
                <span asp-validation-for="Cc"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="ToAddress"></label>
                <input asp-for="ToAddress" type="text" class="form-control" />
                <span asp-validation-for="ToAddress"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToName"></label>
                <input asp-for="ToName" type="text" class="form-control" />
                <span asp-validation-for="ToName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bcc"></label>
                <input asp-for="Bcc" type="text" class="form-control" />
                <span asp-validation-for="Bcc"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label asp-for="Subject"></label>
                <input asp-for="Subject" type="text" class="form-control" />
                <span asp-validation-for="Subject"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label asp-for="Body"></label>
                <textarea asp-for="Body" class="@(Model.IsHtml ? "message-ckedit form-control" : "form-control")" style="min-height:200px;"></textarea>
                <span asp-validation-for="Body"></span>
            </div>
        </div>
    </div>

    <br />

    <div class="form-group">
        <div class="form-check">
            <input asp-for="IsHtml" type="checkbox" class="form-check-input" />
            <label asp-for="IsHtml" class="form-check-label"></label>
        </div>
    </div>

    <div class="form-group">
        <div class="form-check">
            <input asp-for="IsDisabled" type="checkbox" class="form-check-input" />
            <label asp-for="IsDisabled" class="form-check-label"></label>
        </div>
    </div>

    <partial name="Tokens" model="Model" />


</form>