@using MrCMS.Helpers
@model MrCMS.Web.Apps.Core.ContentBlocks.SliderBlock
@{
    var sliders = Model.Sliders.ToList();
}
<div class="row mb-5">
    <div class="col">
        <div class="white-bg">
            <div id="carousel-@Model.Id" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < sliders.Count; i++)
                    {
                        <li data-target="#carousel-@Model.Id" data-slide-to="@i" class="@(i == 0 ? "active": string.Empty)"></li>
                    }
                </ol>
                <div class="carousel-inner">
                    @foreach (var sliderItem in sliders)
                    {
                        <div class="carousel-item @(sliders.IndexOf(sliderItem) == 0 ? "active" : string.Empty)">
                            @if (!string.IsNullOrWhiteSpace(sliderItem.Link))
                            {
                                <a href="@sliderItem.Link">
                                    @Html.RenderImage(sliderItem.Image, attributes: new { @class = "d-block img-fluid" })
                                </a>
                            }
                            else
                            {
                                @Html.RenderImage(sliderItem.Image, attributes: new { @class = "d-block img-fluid" })
                            }
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#carousel-@Model.Id" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-@Model.Id" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </div>
</div>
