@using MrCMS.Helpers
@model MrCMS.Entities.Documents.Web.FormProperties.FormListOption
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("AddOption", "Form", new { id = "" }, FormMethod.Post, new { @class = "form-update-form" }))
{
    <fieldset>
        <legend>Add option
            <span class="btn-group  display-inline  pull-right">
                <input type="button" class="btn-primary btn submit-form-btn" value="Add form option" />
            </span>
        </legend>
        @Html.HiddenFor(x => x.FormProperty.Id)
        <div class="row-fluid">
            <div class="span12">
                @Html.LabelFor(option => option.Value)
                @Html.TextBoxFor(option => option.Value)
                @Html.ValidationMessageFor(option => option.Value)
                @Html.InlineCheckboxFor(option => option.Selected)
            </div>
        </div>
    </fieldset>
}
@{ Html.IncludeScript("~/Areas/Admin/Content/Scripts/mrcms/form-builder.js"); }