@using MrCMS.Helpers
@model MrCMS.Entities.Documents.Web.FormProperties.FormProperty
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("AddProperty", "Form", new { id = "" }, FormMethod.Post, new { @class = "form-update-form" }))
{
    <div class="modal-header">
        <h3>Add form property</h3>
    </div>
    <div class="modal-body">
        @Html.HiddenFor(x => x.Webpage.Id)
        @Html.DropDownList("type", ViewData["property-types"] as IEnumerable<SelectListItem>)
                                                                 
        @Html.LabelFor(property => property.Name)
        @Html.TextBoxFor(property => property.Name)
        @Html.LabelFor(property => property.LabelText)
        @Html.TextBoxFor(property => property.LabelText)
        @Html.LabelFor(property => property.Required)
        @Html.CheckBoxFor(property => property.Required)
        @Html.LabelFor(property => property.CssClass)
        @Html.TextBoxFor(property => property.CssClass)
        @Html.LabelFor(property => property.HtmlId)
        @Html.TextBoxFor(property => property.HtmlId)
    </div>
}
<div class="modal-footer">
    <input type="button" class="btn-primary btn submit-form-btn" value="Add form property" />
</div>
@{ Html.IncludeScript("~/Areas/Admin/Content/Scripts/custom/form-builder.js"); }