@using MrCMS.Helpers
@model MrCMS.Entities.Documents.Web.FormProperties.FormProperty
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("AddProperty", "Form", new { id = "" }, FormMethod.Post, new { @class = "form-update-form" }))
{
    <fieldset>
        <legend>Add Field
            <span class="btn-group  display-inline  pull-right">
                <input type="button" class="btn-primary btn submit-form-btn" value="Add form property" />
            </span>
        </legend>
        @Html.HiddenFor(x => x.Webpage.Id)
        <div class="row-fluid">
            <div class="span6">
                @Html.DropDownList("type", ViewData["property-types"] as IEnumerable<SelectListItem>)
            </div>
            <div class="span6">
                @Html.InlineCheckboxFor(x => x.Required)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                @Html.LabelFor(property => property.Name)
                @Html.TextBoxFor(property => property.Name)
                @Html.ValidationMessageFor(property => property.Name)
                @Html.LabelFor(property => property.LabelText)
                @Html.TextBoxFor(property => property.LabelText)
                @Html.ValidationMessageFor(property => property.LabelText)
            </div>
            <div class="span6">
                @Html.LabelFor(property => property.CssClass)
                @Html.TextBoxFor(property => property.CssClass)
                @Html.ValidationMessageFor(property => property.CssClass)
                @Html.LabelFor(property => property.HtmlId)
                @Html.TextBoxFor(property => property.HtmlId)
                @Html.ValidationMessageFor(property => property.HtmlId)
            </div>
        </div>
    </fieldset>
}

@{ Html.IncludeScript("~/Areas/Admin/Content/Scripts/mrcms/form-builder.js"); }