@using MrCMS.Entities.People
@using AclInfo = MrCMS.Web.Areas.Admin.Models.AclInfo
@model dynamic
@{
    var rules = ViewData["acl-rules"] as List<AclInfo>;
    var roles = rules.SelectMany(x => x.Roles).Select(x => new {x.Id, x.Name}).Distinct().OrderBy(x => x.Name).ToList();
}
<form asp-controller="ACL" asp-action="Index" method="post">

    <admin-header>
        <row>
            <admin-header-title title="@Html.Resource("admin-acl", "ACL Controls") "/>

            <admin-header-actions>
                <button class="btn btn-primary">@Html.Resource("admin-save", "Save")</button>
            </admin-header-actions>
        </row>
    </admin-header>

    <card>
        <card-body>

            @foreach (var group in rules.GroupBy(x => x.Rule).OrderBy(x => x.Key))
            {
                <h3 class="pl-2 mt-2">@group.Key.BreakUpString()</h3>
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>
                            Operation
                        </th>
                        @foreach (var role in roles)
                        {
                            <th>
                                @role.Name
                            </th>
                        }
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var rule in group.OrderBy(x => x.Type).ThenBy(x => x.Operation))
                    {
                        <tr>
                            <td>
                                @rule.Operation.BreakUpString()
                            </td>
                            @foreach (var role in rule.Roles)
                            {
                                var key = string.Format("{0}-{1}", role.Id, rule.Key);
                                if (role.Name != Role.Administrator)
                                {
                                    <td>

                                        <input name="acl" value="@key" type="checkbox" @(role.Allowed ? "checked" : "")/>

                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <input type="checkbox" checked="checked" disabled="disabled"/>
                                    </td>
                                }
                            }
                        </tr>
                    }
                    </tbody>
                </table>
            }

        </card-body>
    </card>

</form>