@using MrCMS.Paging
@using MrCMS.Web.Apps.Articles.Areas.Admin.Helpers
@using MrCMS.Web.Apps.Articles.Pages
@model MrCMS.Web.Apps.Articles.Areas.Admin.Models.FeaturesSearchQuery
@{
    var features = ViewData["results"] as IPagedList<Feature> ?? PagedList<Feature>.Empty;
    var featureSectionOptions = ViewData["feature-section-options"] as List<SelectListItem> ?? new List<SelectListItem>();
    var primarySectionOptions = ViewData["primary-section-options"] as List<SelectListItem> ?? new List<SelectListItem>();
}

<fieldset>
    <legend>
        Features
        <span class="display-inline pull-right btn-group">
            @using (Html.BeginForm("Add", "Webpage", FormMethod.Get))
            {
                @Html.DropDownList("id", featureSectionOptions, new { style = "margin:0 10px;" })
                <button type="submit" class="btn btn-success">Add new article</button>
            }
        </span>
    </legend>
    @using (Html.BeginForm("Index", "Features", FormMethod.Get))
    {
        <div class="row-fluid">
            <div class="span4">
                @Html.LabelFor(query => query.SectionId)
                @Html.DropDownListFor(query => query.SectionId, primarySectionOptions, new { @class = "span12" })
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    }
    @if (features.Any())
    {
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Primary Section
                    </th>
                    <th>
                        Published On
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var article in features)
                {
                    <tr>
                        <td>
                            @article.Name
                        </td>
                        <td>
                            @article.Parent.DisplayHierarchicalName()
                        </td>
                        <td>
                            @article.PublishOn
                        </td>
                        <td>
                            <div class="btn-group">
                                @Html.ActionLink("Edit", "Edit", "Webpage", new { id = article.Id }, new { @class = "btn btn-mini" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Sorry, there are no features that match your criteria.</p>
    }
</fieldset>