@using MrCMS.Helpers
@model MrCMS.Models.AddWidgetModel
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}

@using (Html.BeginForm("Add", "Widget", new { id = "" }, FormMethod.Post, new { id = "add-widget-form" }))
{
    
    <fieldset>
        <legend>Add Widget
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-success btn" value="Add widget" id="add-widget" />
            </span>
        </legend>
        @Html.HiddenFor(model => model.LayoutArea.Id)
        @if (Model.Webpage != null)
        {
            @Html.HiddenFor(model => model.Webpage.Id);
            <div class="row-fluid">
                <div class="span12">
                    <label class="radio">@Html.RadioButton("AddType", "global", true, new { id = "add-global" }) all pages using this layout</label>

                    <label class="radio">@Html.RadioButton("AddType", "page", false, new { id = "add-page" }) this page</label>
                    <div id="show-recursive">
                        @Html.InlineCheckboxFor(x => x.IsRecursive, null, null, "...and all child pages")
                    </div>
                </div>
            </div>
        }

        @Html.Label("WidgetType", "Widget Type")
        @Html.DropDownList("WidgetType", WidgetHelper.AllowedWidgetTypeDropdownItems, new { data_val = "true", data_val_required = "Please select a widget type" })
        @Html.ValidationMessage("WidgetType")
        <br />
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name, Model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </fieldset>
    
    
}

@{ Html.IncludeScript("~/Areas/Admin/Content/Scripts/mrcms/add-page-widget.js"); }