@using MrCMS.Helpers
@model MrCMS.Models.AddWidgetModel
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
<div class="modal-header">
    <h3>Add widget</h3>
</div>
@using (Html.BeginForm("AddPageWidget", "Widget", new { id = "", returnUrl = Request.UrlReferrer.ToString() }, FormMethod.Post))
{
    <div class="modal-body">
        @Html.HiddenFor(model => model.LayoutArea.Id)
        @Html.HiddenFor(model => model.Webpage.Id)
        <div class="row-fluid">
            <div class="span6">
                <label class="radio">@Html.RadioButton("AddType", "page", true, new { id = "add-page" }) Page</label>
            </div>
            <div class="span6">
                <label class="radio">@Html.RadioButton("AddType", "global", false, new { id = "add-global" }) All pages</label>
            </div>
        </div>
        @Html.Label("WidgetType", "Widget Type")
        @Html.DropDownList("WidgetType", WidgetHelper.WidgetTypeDropdownItems, new { data_val = "true", data_val_required = "Please select a widget type" })
        <br />
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name, Model.Name)
        <div id="show-recursive">
            @Html.LabelFor(widget => widget.IsRecursive, "Is Recursive")
            @Html.EditorFor(widget => widget.IsRecursive)
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-success btn" value="Add widget" />
    </div>
}
@section JavaScriptBlock
{
    <script src="@Url.Content("~/Areas/Admin/Content/Scripts/custom/add-page-widget.js")" type="text/javascript"></script>
}
