@using MrCMS.Entities.Widget
@using MrCMS.Helpers
@model Widget
@{
    ViewBag.Title = "Edit | " + Model.WidgetType.BreakUpString();
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Edit", "Widget", new { }, FormMethod.Post, new { id = "edit-document" }))
{
    <fieldset>
        <legend>@Model.WidgetType.BreakUpString()

            <span class="btn-group  display-inline  pull-right">
                @if (Request.UrlReferrer != null)
                {
                    <a class="btn" href="@Request.UrlReferrer">Back</a>
                }
                else
                {
                    @Html.ActionLink("Back to layout area", "Edit", "LayoutArea", new { id = Model.LayoutArea.Id }, new { @class = "btn" })
                }
                <a href="@Url.Action("Delete", "Widget", new { id = Model.Id })" class="btn btn-danger" data-toggle="fb-modal">Delete Widget</a>
                <button class="btn btn-primary">
                    Save</button>
            </span>
        </legend>
        <div class="row-fluid">
            <div class="span12">
                @Html.HiddenFor(widget => widget.Id)
                @Html.Hidden("ReturnUrl", ViewData["return-url"])
                @Html.LabelFor(widget => widget.Name)
                @Html.TextBoxFor(widget => widget.Name, new { @class = "span12" })
                @if (Model.Webpage != null)
                {
                    @Html.InlineCheckboxFor(widget => widget.IsRecursive, null, null, "Is Recursive (shows on child pages)")
                }
                <hr class="small-margin" />
                @Html.RenderCustomAdminProperties()
            </div>
        </div>

    </fieldset>
    
    <hr />
}