@using MrCMS.Entities.Widget
@using MrCMS.Helpers
@model Widget
@{
    ViewBag.Title = "Edit | " + Model.WidgetType.BreakUpString();
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm("Edit", "Widget", new { }, FormMethod.Post, new { id = "edit-widget" }))
{
    
    <fieldset>
        <legend>@(!string.IsNullOrWhiteSpace(Model.Name) ? Model.Name : Model.WidgetType.BreakUpString())

            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-success btn" value="Save widget" />
            </span>
        </legend>

        @Html.HiddenFor(widget => widget.Id)
        @Html.Hidden("ReturnUrl", ViewData["return-url"])
        @Html.LabelFor(widget => widget.Name)
        @Html.TextBoxFor(widget => widget.Name, new { @class = "span12" })
        @if (Model.Webpage != null)
        {
            @Html.InlineCheckboxFor(widget => widget.IsRecursive, null, null, "Is Recursive (shows on child pages)")
        }
        <hr class="small-margin" />
        @Html.RenderCustomAdminProperties()
    </fieldset>
    
    
}