@using MrCMS.Entities.Widget
@using MrCMS.Helpers
@model Widget
@{
    ViewBag.Title = "Edit | " + Model.WidgetType.BreakUpString();
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Edit", "Widget", new { }, FormMethod.Post, new { id = "edit-document" }))
{
    <fieldset>
        <legend>@Model.WidgetType.BreakUpString()

            <span class="btn-group  display-inline  pull-right">
                @if (Request.UrlReferrer != null)
                {
                    <a class="btn" href="@Request.UrlReferrer">Back</a>
                }
                else
                {
                    @Html.ActionLink("Back to layout area", "Edit", "LayoutArea", new { id = Model.LayoutArea.Id }, new { @class = "btn" })
                }
                <a href="@Url.Action("Delete", "Widget", new { id = Model.Id })" class="btn btn-danger" data-toggle="fb-modal">Delete Widget</a>
                <button class="btn btn-primary">
                    Save</button>
            </span>
        </legend>

        @Html.HiddenFor(widget => widget.Id)
        @Html.Hidden("ReturnUrl", ViewData["return-url"])
        @Html.LabelFor(widget => widget.Name)
        @Html.EditorFor(widget => widget.Name)
        @if (Model.Webpage != null)
        {
            @Html.LabelFor(widget => widget.IsRecursive)
            @Html.EditorFor(widget => widget.IsRecursive)
        }
        @Html.RenderCustomAdminProperties()

    </fieldset>
    
    <hr />
}