@using MrCMS.Entities.People
@model System.Collections.Generic.IEnumerable<Role>
@{
    ViewBag.Title = "Roles";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<admin-header>
    <row>
        <admin-header-title title="@Html.Resource("admin-user-roles", "User roles")"/>

        <admin-header-actions>
            @Html.ActionLink("Add", "Add", "Role", null, new {@class = "btn btn-primary", data_toggle = "fb-modal"})
        </admin-header-actions>
    </row>
</admin-header>

<card>
    <card-body>
        <table class="table table-striped table-condensed">
            <tr>
                <th>
                    @Html.Resource("Name")
                </th>
                <th></th>
            </tr>
            @foreach (Role role in Model)
            {
                if (role.IsAdmin)
                {
                    <tr>
                        <td colspan="2">@role.Name</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            @Html.ActionLink(role.Name, "Edit", new {id = role.Id}, new {@class = "", data_toggle = "fb-modal"})
                        </td>
                        <td>@Html.ActionLink(Html.Resource("Delete"), "Delete", new {id = role.Id}, new {@class = "btn btn-danger btn-sm", data_toggle = "fb-modal"})</td>
                    </tr>
                }
            }
        </table>

    </card-body>
</card>
