@using MrCMS.Web.Apps.Admin.Helpers
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@model MrCMS.Logging.Log
@{
    ViewBag.Title = "View Log #" + Model.Id;
    var contextData = Model.GetContextData();
}

<h1 class="page-header">
    @Html.Resource("Admin Logs Log Title", "Log") #@Model.Id
    <span class="btn-group  d-inline  pull-right">
        @Html.ActionLink("Back to list", "Index", "Log", null, new { @class = "btn btn-secondary" })
        <a href="@Url.Action("DeleteLog", "Log", new { Model.Id })" class="btn btn-danger" data-toggle="fb-modal">@Html.Resource("Delete")</a>
    </span>
</h1>
<table class="table table-striped table-condensed">
    <tbody>
        <tr>
            <td class="col-lg-2">
                @Html.Resource("Type")
            </td>
            <td class="col-lg-10">
                @Model.Type
            </td>
        </tr>
        <tr>
            <td>
                @Html.Resource("Level")
            </td>
            <td>
                @Model.LogLevel
            </td>
        </tr>
        <tr>
            <td>
                @Html.Resource("Created on")
            </td>
            <td>
                @Model.CreatedOn
            </td>
        </tr>
        <tr>
            <td>
                @Html.Resource("Site")
            </td>
            <td>
                @Model.SiteName
            </td>
        </tr>
        <tr>
            <td>
                @Html.Resource("Message")
            </td>
            <td>
                @Model.Message
            </td>
        </tr>
        <tr>
            <td>
                @Html.Resource("Detail")
            </td>
            <td>
                @Html.Raw(Model.DetailFormatted)
            </td>
        </tr>
        @*<tr>
                <td>
                    @Html.Resource("Exception Data")
                </td>
                <td>
                    @Model.FormatExceptionData()
                </td>
            </tr>*@
    </tbody>
</table>
@if (contextData != null)
{
    <h4>@Html.Resource("Admin Logs - Request Data", "Request Data")</h4>
    <div style="overflow: scroll">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th class="col-lg-2">
                        @Html.Resource("Key")
                    </th>
                    <th class="col-lg-10">
                        @Html.Resource("Value")
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.Resource("Uri")
                    </td>
                    <td>
                        @contextData.Uri
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Resource("Method")
                    </td>
                    <td>
                        @contextData.Method
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Resource("User Agent")
                    </td>
                    <td>
                        @contextData.UserAgent
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Resource("IP Address")
                    </td>
                    <td>
                        @contextData.IPAddress
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Resource("User")
                    </td>
                    <td>
                        @contextData.User
                    </td>
                </tr>
                @foreach (var header in contextData.Headers)
                {
                    <tr>
                        <td>
                            @header.Key
                        </td>
                        <td>
                            @header.Value
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
