@using System.Globalization
@using MrCMS.Helpers
@using MrCMS.Services
@using MrCMS.Web.Apps.Admin.Helpers
@using MrCMS.Website
@using MrCMS.Website.Optimization
@inject IGetCurrentUser GetCurrentUser
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/gif" href="/Areas/Admin/img/mrcms-icon.gif">
    @Html.RenderStyleBundle("~/admin/stylesheets/mrcms")
    @Html.RenderStyleBundle("~/admin/stylesheets/apps")

    @{ Html.RenderCss();}

</head>
<body>
    <div id="loading" style="display: none;">
        <img src="/Areas/Admin/img/ajax-loader2.gif" />
    </div>
    @RenderBody()
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/lib/ckeditor/ckeditor.js")"></script>

    @Html.RenderScriptBundle("~/admin/scripts/lib")
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/lib/signalr/signalr.js")"></script>
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.js"></script>
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/globalize/0.1.1/cultures/globalize.culture.@(CultureInfo.CurrentCulture.Name).js"></script>
    @Html.RenderScriptBundle("~/admin/scripts/mrcms")
    @Html.RenderScriptBundle("~/admin/scripts/apps")

    @if (GetCurrentUser.Get()?.DisableNotifications == false)
    {
        Html.IncludeScript("~/Areas/Admin/scripts/transient-notifications.js");
        Html.IncludeScript("~/Areas/Admin/scripts/persistent-notifications.js");
    }

    @{ Html.RenderLocalisedScripts();}
    @{ Html.RenderScripts();}

    @Html.Hidden("CurrentUICulture", CultureInfo.CurrentCulture.Name)

    @if (IsSectionDefined("JavaScriptBlock"))
    {
        @RenderSection("JavaScriptBlock")
    }
    @*    @MiniProfiler.RenderIncludes()*@
</body>
</html>