@using Microsoft.AspNetCore.Mvc.Localization
@model MrCMS.Web.Apps.IdentityServer4.Admin.Core.Dtos.Configuration.ApiSecretsDto
@inject IViewLocalizer Localizer
@inject IStringResourceProvider StringLocalizer

@{
    ViewBag.Title = StringLocalizer.GetValue("IS4ApiSecretDeletePageTitle", "Delete Api Secret");
    //Layout = "_Layout";
}

<form asp-controller="Configuration" asp-action="ApiSecretDelete" Method="post">
    <div class="row">

        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Configuration" asp-action="ApiResources">@Localizer["IS4NavigationApiResources"]</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Configuration" asp-action="ApiResource" asp-route-id="@Model.ApiResourceId">@Model.ApiResourceName</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Configuration" asp-action="ApiSecrets" asp-route-id="@Model.ApiResourceId">@Localizer["IS4NavigationApiSecrets"]</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@StringLocalizer.GetValue("IS4ApiSecretDeletePageTitle", "Delete Api Secret")</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-12">
            <h3>@StringLocalizer.GetValue("IS4ApiSecretDeletePageTitle", "Delete Api Secret")</h3>

            <!--Hidden -->
            <input type="hidden" asp-for="ApiResourceId" />

            <!--Hidden -->
            <input type="hidden" asp-for="ApiSecretId" />

            <div class="card mt-3">
                <h5 class="card-header">@StringLocalizer.GetValue("IS4ApiSecretDeletePanelTitle", "Delete Api Secret")</h5>
                <div class="card-body">

                    <!--Input - text -->
                    <div class="form-group row">
                        <label asp-for="Type" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Client/Section/Label", "SecretType")
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" disabled="disabled" asp-for="Type">
                        </div>
                    </div>

                    <!--Input - text -->
                    <div class="form-group row">
                        <label asp-for="Value" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Client/Section/Label", "SecretValue")
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" disabled="disabled" asp-for="Value">
                        </div>
                    </div>

                    <!--Button-->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">
                        </label>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-danger">@StringLocalizer.GetValue("IS4ButtonDeleteClientSecret", "Delete Api Secret")</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>