@using Microsoft.AspNetCore.Mvc.Localization
@using MrCMS.Web.Apps.IdentityServer4.Admin.Core.Dtos.Common
@model MrCMS.Web.Apps.IdentityServer4.Admin.Core.Dtos.Configuration.ApiSecretsDto
@inject IViewLocalizer Localizer
@inject IStringResourceProvider StringLocalizer

@{
    ViewBag.Title = StringLocalizer.GetValue("IS4ApiSecretsPageTitle", "Api Secrets");
    Html.IncludeCss("~/styles/openiconic/css/open-iconic-bootstrap.css");
    Html.IncludeCss("~/styles/css/web.css");
    Html.IncludeScript("~/dist/js/bundle.min.js");
}

<form class="secret-form" asp-controller="Configuration" asp-action="ApiSecrets" Method="post">
    <div class="row">

        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Configuration" asp-action="ApiResources">@Localizer["IS4NavigationApiResources"]</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Configuration" asp-action="ApiResource" asp-route-id="@Model.ApiResourceId">@Model.ApiResourceName</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@StringLocalizer.GetValue("IS4NavigationApiSecrets", "Api Secrets")</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-12">
            <h3>@StringLocalizer.GetValue("IS4ApiSecretsPageTitle", "Api Secrets")</h3>
        </div>

        <div class="col-md-12">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>

        <div class="col-md-12">
            <div class="card mt-3">
                <h5 class="card-header">@StringLocalizer.GetValue("IS4ApiSecretsPanelTitleNew", "Api Secret")</h5>
                <div class="card-body">

                    <!--Hidden -->
                    <input type="hidden" asp-for="ApiResourceId" />

                    <!--Select-->
                    <div class="form-group row">
                        <label asp-for="Type" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Client/Section/Label", "SecretType")
                        </label>
                        <div class="col-sm-9">
                            <select asp-for="Type" asp-items="@(new SelectList(Model.TypeList, "Id", "Text"))" class="form-control single-select"></select>
                        </div>
                    </div>

                    <!--Input - text -->
                    <div class="form-group row">
                        <label asp-for="Value" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Client/Section/Label", "SecretValue")
                        </label>
                        <div class="col-sm-9">

                            <div class="input-group mb-3">
                                <input id="secret-input" type="text" autocomplete="off" required class="form-control" asp-for="Value">
                                <div class="input-group-append">
                                    <button type="button" id="generate-guid-button" class="btn btn-primary"><span class="oi oi-random"></span></button>
                                </div>
                            </div>
                            <span asp-validation-for="Value" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Select-->
                    <div class="form-group row">
                        <label asp-for="HashType" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Client/Section/Label", "HashType")
                        </label>
                        <div class="col-sm-9">
                            <select asp-for="HashType" asp-items="@(new SelectList(Model.HashTypes, "Id", "Text"))" class="form-control single-select"></select>

                            <div class="alert alert-warning" role="alert">
                                <span class="sr-only">@StringLocalizer.GetValue("IS4SecretInfoTitle", "Info: ")</span>
                                @StringLocalizer.GetValue("IS4SecretInfoDescription", "HashType will be applicable only for the SharedSecret type.")
                            </div>
                        </div>
                    </div>

                    <!--Date Picker-->
                    <div class="form-group row">
                        <label asp-for="Expiration" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Client/Section/Label", "Expiration")
                        </label>
                        <div class="col-sm-9">
                            <div class="datepicker input-group date">
                                <input asp-for="Expiration" autocomplete="off" type="text" class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Input - text -->
                    <div class="form-group row">
                        <label asp-for="Description" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Client/Section/Label", "SecretDescription")
                        </label>
                        <div class="col-sm-9">
                            <input type="text" autocomplete="off" class="form-control" asp-for="Description">
                        </div>
                    </div>

                    <!--Button-->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">
                        </label>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary">@StringLocalizer.GetValue("IS4ButtonAddApiSecret", "Add Api Secret")</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <div class="card mt-3">
            <h5 class="card-header">@StringLocalizer.GetValue("IS4ApiSecretsPanelTitle", "Api Secrets")</h5>
            <div class="card-body">

                <div class="row table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@StringLocalizer.GetValue("IS4SecretTableType", "Type")</th>
                                <th>@StringLocalizer.GetValue("IS4SecretTableValue", "Value")</th>
                                <th>@StringLocalizer.GetValue("IS4SecretTableDescription", "Description")</th>
                                <th>@StringLocalizer.GetValue("IS4SecretTableExpiration", "Expiration")</th>
                                <th>@StringLocalizer.GetValue("IS4SecretTableCreated", "Created")</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var secret in Model.ApiSecrets)
                            {
                                <tr>
                                    <td><a asp-action="ApiSecretDelete" asp-route-id="@secret.Id" class="btn btn-danger">@StringLocalizer.GetValue("IS4SecretTableButtonRemove", "Delete")</a></td>
                                    <td>@secret.Type</td>
                                    <td><button class="secret-value-button btn btn-outline-primary" data-secret-value="@secret.Value"><i class="fa fa-eye"></i></button></td>
                                    <td>@secret.Description</td>
                                    <td>@(secret.Expiration.HasValue ? secret.Expiration.Value.Date.ToShortDateString() : string.Empty)</td>
                                    <td>@secret.Created.Date.ToShortDateString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-12">
                        @await Html.PartialAsync("Common/Pager", new Pager { Action = "ApiSecrets", PageSize = Model.PageSize, TotalCount = Model.TotalCount })
                    </div>
                </div>

                <div class="secret-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h2 class="modal-secret-value"></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>