@model MrCMS.Web.Apps.Core.Areas.Admin.Models.Widgets.SliderWidgetModel

<div class="form-group">
    @Html.LabelFor(x => x.Interval)
    @Html.TextBoxFor(x => x.Interval, new {@class = "form-control"})
    @Html.ValidationMessageFor(x => x.Interval)
</div>

<div class="form-group">
    @Html.InlineCheckboxFor(m => m.PauseOnHover, labelAttributes: new {@class = "mr-3"})
    @Html.InlineCheckboxFor(m => m.ShowIndicator)
</div>

<hr/>

<div data-id="slider-widget">
    <card data-id="inputs">
        <card-body>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>@await Html.Resource("admin-slider-image", "Image")</label>
                        <input type="text" id="slider-image" data-type="media-selector"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>@await Html.Resource("admin-slider-small-image", "Small Image")</label>
                        <input type="text" id="slider-small-image" data-type="media-selector"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>@await Html.Resource("admin-slider-caption", "Caption")</label>
                        <input type="text" id="slider-caption" class="form-control"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>@await Html.Resource("admin-slider-link", "Link")</label>
                        <input type="text" id="slider-link" class="form-control"/>
                    </div>
                </div>
            </div>
            <input type="button" class="btn btn-primary" value="Add"/>
            <div data-id="error-holder" class="text-danger py-3 d-block">
                
            </div>
        </card-body>
    </card>
    <card data-id="result">
        <card-body>
            <table class="table table-striped table-condensed mt-3" style="overflow: scroll">
                <thead>
                <tr>
                    <th>
                        @await Html.Resource("admin-slider-image", "Image")
                    </th>
                    <th>
                        @await Html.Resource("admin-slider-small-image", "Small Image")
                    </th>
                    <th>
                        @await Html.Resource("admin-slider-caption", "Caption")
                    </th>
                    <th>
                        @await Html.Resource("admin-slider-link", "Link")
                    </th>
                    <th>
                        @await Html.Resource("admin-actions", "Actions")
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var slide in Model.SlideList.Select((item, index) => (item,index)))
                {
                    <tr data-index="@slide.index">
                        <td>
                            <a href="@slide.item.Image" target="_blank">
                                <img src="@slide.item.Image" height="50"/>
                            </a>
                            <input type="hidden" name="SlideList[@slide.index].Image" value="@slide.item.Image"/>
                        </td>
                        <td>
                            <a href="@slide.item.SmallImage" target="_blank">
                                <img src="@slide.item.SmallImage" height="50"/>
                            </a>
                            <input type="hidden" name="SlideList[@slide.index].SmallImage" value="@slide.item.SmallImage"/>
                        </td>
                        <td>
                            @slide.item.Caption
                            <input type="hidden" name="SlideList[@slide.index].Caption" value="@slide.item.Caption"/>
                        </td>
                        <td>
                            @if (!string.IsNullOrWhiteSpace(slide.item.Link))
                            {
                                <a href="@slide.item.Link" target="_blank">
                                    Target Link
                                </a>
                            }
                            <input type="hidden" name="SlideList[@slide.index].Link" value="@slide.item.Link"/>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" data-id="delete" class="btn btn-danger btn-sm">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </card-body>
    </card>
</div>