@model MrCMS.Entities.Documents.Media.MediaCategory 
@{
    ViewBag.Title = "Add media category";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section JavaScriptBlock
{
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Content/Scripts/mrcms/add-category.js")"></script>
}

@using (Html.BeginForm("Add", "MediaCategory", new { id = "" }, FormMethod.Post, new { id = "add-media-category" }))
{
    <fieldset>
        <legend>Add Folder
            <button class="btn pull-right btn-primary">
                Add</button>
        </legend>


        <div class="row-fluid">
            <div class="span12">

                @Html.HiddenFor(x => x.Parent.Id)
                @Html.LabelFor(x => x.Name, "Folder Name")
                @Html.TextBoxFor(x => x.Name, new { @class = "span12" })
                @Html.ValidationMessageFor(x => x.Name, "", new { @class = "error" })

                @Html.LabelFor(x => x.UrlSegment, "Path")
                @Html.TextBoxFor(x => x.UrlSegment, new { @class = "span12" })
                @Html.ValidationMessageFor(x => x.UrlSegment, "", new { @class = "error" })
                <br />
                @Html.Hidden("DocumentType", "MediaCategory")

            </div>
        </div>
    </fieldset>
}
