@using MrCMS.Helpers
@model MrCMS.Entities.Documents.Media.MediaCategory
@{
    ViewBag.Title = "Edit | " + Model.Name;

    Html.IncludeScript("~/Areas/Admin/Content/Scripts/mrcms/media-uploader.js");
    Html.IncludeScript("~/Areas/Admin/Content/Scripts/mrcms/media-category.js");
}

@using (Html.BeginForm("Edit", "MediaCategory", new { id = Model.Id }, FormMethod.Post, new { id = "edit-media", target = "_top" }))
{
    <fieldset>
        <legend>@Model.Name
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn btn-primary" value="Save">
            </span>
        </legend>

        <div class="row-fluid">
            <div class="span12">
                @Html.LabelFor(x => x.Name, "Folder Name")
                @Html.TextBoxFor(x => x.Name, new { @class = "span12" })
                
                @Html.LabelFor(x=>x.IsGallery)
                @Html.CheckBoxFor(x=>x.IsGallery)
            </div>
        </div>
    </fieldset>
}