@model MrCMS.Entities.Documents.Media.MediaCategory
@{
    ViewBag.Title = "Edit | " + Model.Name;
}
@section JavaScriptBlock   
{
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Content/Scripts/custom/media-category.js")"></script>
}

@if (TempData["saved"] != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @TempData["saved"]
    </div>
}

@using (Html.BeginForm("Edit", "MediaCategory", new { id = Model.Id }, FormMethod.Post, new { id = "edit-media" }))
{
    <fieldset>
        <legend>@Model.Name
            <span class="btn-group  display-inline  pull-right">
                <a href="@Url.Action("SortFiles", "MediaCategory", new { id = Model.Id })" class="btn ">Sort</a>
                @if (Model.CanDelete)
                {
                    <a href="@Url.Action("Delete", "MediaCategory", new { id = Model.Id })" class="btn btn-danger" data-toggle="fb-modal">Delete</a>
                }
                <button class="btn btn-primary" id="save-edit" data-form-id="edit-media" data-action="save">
                    Save</button>
            </span>
        </legend>

        <div class="row-fluid">
            <div class="span12">
                @Html.LabelFor(x => x.Name, "Folder Name")
                @Html.TextBoxFor(x => x.Name, new { @class = "span12" })
                <label class="checkbox">
                    @Html.CheckBoxFor(x => x.IsGallery) Allow use as gallery?
                </label>
            </div>
        </div>
    </fieldset>
}

<p id="dragdropsupported" style="border: 2px dotted #808080; height: 30px; line-height: 30px;" onmouseover="$(this).css('background','#e7e7e7')" onmouseout="$(this).css('background','#fff')">&nbsp;Drag files here to upload.</p>

@{ Html.RenderPartial("Upload", Model); }

@{ Html.RenderPartial("UploadTemplate"); }
@{ Html.RenderPartial("DownloadTemplate"); }