@model MrCMS.Entities.Documents.Media.MediaCategory
@{
    ViewBag.Title = "Edit | " + Model.Name;
}
@section JavaScriptBlock   
{
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Content/Scripts/custom/media-category.js")"></script>
}

<section class="admin-header">
    @if (TempData["saved"] != null)
    {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @TempData["saved"]
        </div>
    }
    <div class="row-fluid" style="margin-bottom: 10px;">
        <div class="span4">
            <h3>Edit - @Model.Name</h3>
        </div>
        <div class="span8">

            <div class="btn-group  display-inline  pull-right">
                <a href="@Url.Action("SortFiles", "MediaCategory", new { id = Model.Id })" class="btn ">Sort</a>
                @if (Model.CanDelete)
                {
                    <a href="@Url.Action("Delete", "MediaCategory", new { id = Model.Id })" class="btn btn-danger" data-toggle="fb-modal">Delete</a>
                }
                <button class="btn btn-primary" id="save-edit" data-form-id="edit-media" data-action="save">
                    Save</button>
            </div>
        </div>
    </div>
</section>

<div id="tabs">
    <ul class="nav nav-tabs">
        <li><a href="#properties" data-toggle="tab">Properties</a></li>
        <li class="active"><a href="#media" data-toggle="tab">Files</a></li>
    </ul>
    <div class="tab-content">
        <div id="properties" class="tab-pane">
            @using (Html.BeginForm("Edit", "MediaCategory", new { id = Model.Id }, FormMethod.Post, new { id = "edit-media" }))
            {
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "span12" })
                @Html.LabelFor(x => x.UrlSegment, "Path")
                @Html.TextBoxFor(x => x.UrlSegment, new { @class = "span12", disabled = "true" })
                <label class="checkbox">
                    @Html.CheckBoxFor(x => x.IsGallery) Allow use as gallery?
                </label>
                
                <p class="font-small">
                    Created on: @Model.CreatedOn.ToShortDateString()<br />
                    Last Updated on: @Model.UpdatedOn.ToShortDateString()
                </p>
            }
        </div>
        <div id="media" class="tab-pane active">
            
            <h4 style="margin-top: 0;">Add Files</h4>
            <p id="dragdropsupported" style="border: 2px dotted #808080; height: 30px; line-height: 30px;" onmouseover="$(this).css('background','#e7e7e7')" onmouseout="$(this).css('background','#fff')">&nbsp;Drag files here to upload.</p>

            @{ Html.RenderPartial("Upload", Model); }

            @{ Html.RenderPartial("UploadTemplate"); }
            @{ Html.RenderPartial("DownloadTemplate"); }

        </div>
    </div>
</div>
