@using MrCMS.Helpers
@model IEnumerable<SelectListItem>
<div class="modal-header">
    <h3>Select image</h3>
</div>
<div class="modal-body" id="image-selector">
    @Html.Label("Category")
    @Html.DropDownList("Category", Model)
    @Html.Label("Image")
    @Html.DropDownList("Image", new List<SelectListItem> { new SelectListItem { Text = "Select an image...", Value = "" } }, new { disabled = "disabled" })
    <div id="image-selector-uploader">
    </div>
    <div id="image-selector-uploader-result">
    </div>
    @Html.Label("ImageSize", "Image Size")
    @Html.DropDownList("ImageSize", new List<SelectListItem> { new SelectListItem { Text = "Select an image size...", Value = "" } }, new { disabled = "disabled" })
    <div id="image-preview">
    </div>
</div>
<div class="modal-footer">
    <input type="button" class="btn-primary btn" id="set-image" value="Set Image" />
</div>
