@using System.Linq
@using MrCMS.Entities.Documents.Media
@using MrCMS.Helpers
@using MrCMS.Paging
@model MrCMS.Web.Areas.Admin.Models.MediaCategorySearchModel
@{
    var mediaCategory = ViewData["media-category"] as MediaCategory;
    ViewBag.Title = mediaCategory.Name;

    Html.IncludeScript("~/Areas/Admin/Content/Scripts/mrcms/media-uploader.js");
    Html.IncludeScript("~/Areas/Admin/Content/Scripts/mrcms/media-category.js");
    ViewData["MediaCategory"] = mediaCategory;
}
<ol class="breadcrumb">
    <li><a href="/Admin/MediaCategory">Media</a></li>
    @foreach (var folder in mediaCategory.BreadCrumbs.Reverse())
    {
        <li><a href="@Url.Action("Show", "MediaCategory", new{Id = folder.Id})">@folder.Name</a></li>

    }
</ol>

<div class="inline-buttons-container">
    <h1 class="page-header">@mediaCategory.Name</h1>
    <span class="btn-group  display-inline  pull-right">
        @if (mediaCategory.CanDelete())
        {
            <a href="@Url.Action("Delete", "MediaCategory", new { id = mediaCategory.Id })" class="btn btn-danger" data-toggle="fb-modal">Delete</a>
        }

        <a href="@Url.Action("SortFiles", "MediaCategory", new { id = mediaCategory.Id })" class="btn btn-default">Sort</a>
        <a href="@Url.Action("Add", "MediaCategory", new { id = mediaCategory.Id })" class="btn  btn-default fn-modal">Add folder</a>
        <a href="@Url.Action("Edit", "MediaCategory", new { id = mediaCategory.Id })" class="btn  btn-default">Edit</a>
    </span>
</div>

@{ Html.RenderAction("Upload", "MediaCategory", new { category = mediaCategory }); }
<hr class="small-margin" />
@{ Html.RenderAction("ShowFolders", new { mediaCategory = Model });}

@{ Html.RenderAction("ShowFiles", new { searchModel = Model });}
