@using System.Activities.Statements
@using System.Drawing
@using System.Linq
@using MrCMS.Entities.Documents.Media
@using MrCMS.Helpers
@using MrCMS.Paging
@{
    var files = ViewData["files"] as IList<MediaFile> ?? new List<MediaFile>();
}
@model MediaCategory

<div id="file-list" data-file-list="true" data-category-id="@(Model==null ? (int?)null : Model.Id)">
    @if (files.Any())
    {
        foreach (var file in files.OrderBy(x => x.DisplayOrder))
        {
            <div class="file" data-file="@file.Id">
                <div class="file-preview">
                    <a title="@file.FileName">
                        @if (file.IsImage)
                        {
                            @Html.RenderImage(file.FileUrl, new Size(100, 100))
                        }
                        else
                        {
                            <i class="glyphicon glyphicon-file"> </i>
                        }
                    </a>
                </div>
                <div class="file-link">
                    <div class="select-file">
                        @Html.CheckBox("selected-files", false, new { data_file_id = file.Id, @class = "checkbox-inline" })
                    </div>
                    <div class="file-link-name">
                        @Html.Link(file.FileName, file.FileUrl)
                    </div>
                </div>
            </div>
        }
        <div class="clearfix"> </div>
    }
    else
    {
        <p>There are no files here yet - why not upload some?</p>
    }

</div>
