@using System.Activities.Statements
@using System.Drawing
@using System.Linq
@using MrCMS.Entities.Documents.Media
@using MrCMS.Helpers
@using MrCMS.Paging
@{ var files = ViewData["files"] as IPagedList<MediaFile> ?? PagedList<MediaFile>.Empty;}
@model MrCMS.Web.Areas.Admin.Models.MediaCategorySearchModel
           
<div id="file-list" data-category-id="@Model.Id">
    @if (files.Any())
    {

        foreach (var file in files.OrderBy(x => x.DisplayOrder))
        {
            <div class="file">
                <a href="@Url.Action("Edit", "File", new { Id = file.Id })" title="@file.FileName">
                    @if (file.IsImage)
                    {
                        @Html.RenderImage(file.FileUrl, new Size(100, 100))
                    }
                    else
                    {
                        <i class="glyphicon glyphicon-file"> </i>
                    }
                    @Html.Link(file.FileName, file.FileUrl)
                </a>
            </div>
        }
        <div class="clearfix"> </div>
        @Html.Pager(files, "Show", page => new { page, Id = Model.Id })
    }
    else
    {
        if (!string.IsNullOrWhiteSpace(Model.SearchText))
        {
            <p>There are no files matching your search term.</p>
        }
        else
        {
            <p>There are no files here yet - why not upload some?</p>
        }
    }

</div>
