@using System.Drawing
@using MrCMS.Entities.Documents.Media
@using MrCMS.Helpers
@using MrCMS.Paging
@{ var files = ViewData["files"] as IPagedList<MediaFile> ?? PagedList<MediaFile>.Empty;}
@model MrCMS.Models.MediaCategorySearchModel
<div id="file-list" data-category-id="@Model.Id">
    @if (files.Any())
    {
        <table class="table table-striped table-condensed">
            <tr>
                <th class="span6">File Name</th>
                <th class="span4">Alt / Description</th>
                <th class="span2">Actions</th>
            </tr>

            @foreach (var file in files)
            {
                <tr>
                    <td>
                        @if (file.IsImage)
                        {
                            <a href="@file.FileUrl">
                                @Html.RenderImage(file.FileUrl, new Size(100, 100))
                            </a>
                        }
                        @Html.Link(file.FileName, file.FileUrl)
                        
                    </td>
                    <td>@file.Title @(!string.IsNullOrEmpty(file.Description) ? MvcHtmlString.Create("<br />" + file.Description) : MvcHtmlString.Create("<span style='font-size: 10px;'><em>None set</em></span>"))</td>
                    <td>
                        <div class="btn-group">
                            @Html.ActionLink("Delete", "Delete", "File", new { Id = file.Id }, new { @class = "btn btn-mini btn-danger", data_toggle = "fb-modal" })
                            @Html.ActionLink("Edit", "Edit", "File", new { Id = file.Id }, new { @class = "btn btn-mini", data_toggle = "fb-modal" })
                        </div>
                    </td>
                </tr>
            }

        </table>

        @Html.Pager(files, "Show", page => new { page, Id = Model.Id })
    }
    else
    {
        if (!string.IsNullOrWhiteSpace(Model.SearchText))
        {
            <p>There are no files matching your search term.</p>
        }
        else
        {
            <p>There are no files here yet - why not upload some?</p>
        }
    }

</div>
