@using System.Activities.Statements
@using System.Drawing
@using System.Linq
@using MrCMS.Entities.Documents.Media
@using MrCMS.Helpers
@using MrCMS.Paging
@{ var files = ViewData["files"] as IPagedList<MediaFile> ?? PagedList<MediaFile>.Empty;}
@model MrCMS.Web.Areas.Admin.Models.MediaCategorySearchModel
<div id="file-list" data-category-id="@Model.Id">
    @if (files.Any())
    {

        foreach (var file in files.OrderBy(x => x.DisplayOrder))
        {
            <div class="col-xs-2">
                @if (file.IsImage)
                {
                    <a href="@file.FileUrl">
                        @Html.RenderImage(file.FileUrl, new Size(100, 100))
                    </a>
                    <br />
                }
                @Html.Link(file.FileName, file.FileUrl)
                <br />
                <div class="btn-group">
                    @Html.ActionLink("Delete", "Delete", "File", new { Id = file.Id }, new { @class = "btn btn-xs btn-danger", data_toggle = "fb-modal" })
                    @Html.ActionLink("Edit", "Edit", "File", new { Id = file.Id }, new { @class = "btn btn-xs btn-default", data_toggle = "fb-modal" })
                </div>
            </div>
        }

        @Html.Pager(files, "Show", page => new { page, Id = Model.Id })
    }
    else
    {
        if (!string.IsNullOrWhiteSpace(Model.SearchText))
        {
            <p>There are no files matching your search term.</p>
        }
        else
        {
            <p>There are no files here yet - why not upload some?</p>
        }
    }

</div>
