@using System.Drawing
@using MrCMS.Entities.Documents.Media
@using MrCMS.Helpers
@model MrCMS.Paging.IPagedList<MrCMS.Entities.Documents.Media.MediaFile>
@{
    var mediaCategory = ViewData["MediaCategory"] as MediaCategory;
}


@{ Html.RenderPartial("Upload", mediaCategory); }

<table class="table table-striped table-condensed">
    <tr>
        <th class="span6">File Name</th>
        <th class="span4">Alt / Description</th>
        <th class="span2">Actions</th>
    </tr>

    @foreach (var file in Model)
    {
        <tr>
            <td>
                @{
        if (file.IsImage)
        {
                    <a href="@file.FileUrl">
                        @Html.RenderImage(file.FileUrl, new Size(100, 100))
                    </a>
        }
        else
        {
                    @Html.Link(file.FileName, file.FileUrl)
        }
                }
            </td>
            <td>@file.Title @(!string.IsNullOrEmpty(file.Description) ? MvcHtmlString.Create("<br />" + file.Description) : null)</td>
            <td>
                <div class="btn-group">
                    @Html.ActionLink("Delete", "Delete", "File", new { Id = file.Id }, new { @class = "btn btn-danger", data_toggle = "fb-modal" })
                    @Html.ActionLink("Edit", "Edit", "File", new { Id = file.Id }, new { @class = "btn", data_toggle = "fb-modal" })
                </div>
            </td>
        </tr>
    }

</table>

@Html.Pager(Model, "Edit", page => new { page, Id = Url.RequestContext.RouteData.Values["id"] })

@{
    //file uploading
    <!-- The basic File Upload plugin -->
    Html.IncludeScript("~/Areas/Admin/Content/Scripts/jQuery-File-Upload-9.5.2/js/jquery.fileupload.js");
    <!-- The File Upload processing plugin -->
    Html.IncludeScript("~/Areas/Admin/Content/Scripts/jQuery-File-Upload-9.5.2/js/jquery.fileupload-process.js");
    <!-- The File Upload image preview & resize plugin -->
    Html.IncludeScript("~/Areas/Admin/Content/Scripts/jQuery-File-Upload-9.5.2/js/jquery.fileupload-process.js");
    <!-- The File Upload audio preview plugin -->
    Html.IncludeScript("~/Areas/Admin/Content/Scripts/jQuery-File-Upload-9.5.2/js/jquery.fileupload-audio.js");
    <!-- The File Upload video preview plugin -->
    Html.IncludeScript("~/Areas/Admin/Content/Scripts/jQuery-File-Upload-9.5.2/js/jquery.fileupload-video.js");
    <!-- The File Upload validation plugin -->
    Html.IncludeScript("~/Areas/Admin/Content/Scripts/jQuery-File-Upload-9.5.2/js/jquery.fileupload-validate.js");
    <!-- The File Upload user interface plugin -->
    Html.IncludeScript("~/Areas/Admin/Content/Scripts/jQuery-File-Upload-9.5.2/js/jquery.fileupload-ui.js");
    Html.IncludeScript("~/Areas/Admin/Content/Scripts/jQuery-File-Upload-9.5.2/js/jquery.iframe-transport.js");
    Html.IncludeScript("~/Areas/Admin/Content/Scripts/jQuery-File-Upload-9.5.2/js/vendor/jquery.ui.widget.js");
}