@using System.Linq
@using MrCMS.Entities.Documents.Media
@using MrCMS.Helpers
@using MrCMS.Paging
@model MediaCategory
@{
    ViewBag.Title = Model.Name;
}
<ol class="breadcrumb">
    <li><a href="/Admin/MediaCategory">Media</a></li>
    @foreach (var folder in Model.BreadCrumbs.Reverse())
    {
        <li><a href="@Url.Action("Show", "MediaCategory", new{Id = folder.Id})">@folder.Name</a></li>

    }
</ol>

<div class="inline-buttons-container">
    <h1 class="page-header">@Model.Name</h1>
    <span class="btn-group  display-inline  pull-right">
        @if (Model.CanDelete())
        {
            <a href="@Url.Action("Delete", "MediaCategory", new { id = Model.Id })" class="btn btn-danger" data-toggle="fb-modal">Delete</a>
        }
        <a href="@Url.Action("SortFiles", "MediaCategory", new { id = Model.Id })" class="btn btn-default">Sort</a>
        <a href="@Url.Action("Add", "MediaCategory", new { id = Model.Id })" class="btn  btn-default fn-modal">Add folder</a>
        <a href="@Url.Action("Edit", "MediaCategory", new { id = Model.Id })" class="btn  btn-default">Edit</a>
    </span>
</div>

@{ Html.RenderPartial("Manage");}
