@using Microsoft.AspNetCore.Http.Extensions
@using MrCMS.ACL.Rules
@using MrCMS.Web.Apps.Admin.Models
@model IEnumerable<MrCMS.Web.Apps.Admin.Models.IAdminMenuItem>
@{
    var currentUrl = Context.Request.Path.Value;
    List<IAdminMenuItem> adminMenuItems = Model.Where(item => item.CanShow).ToList();
}



<ul class="nav list-unstyled d-block pl-3" id="sidebar-nav">
        <li class="nav-item">
            <a href="@Url.Action("Index", "Home")" class="nav-link  @(currentUrl == Url.Action("Index", "Home") ? "active" : "")"><i class="fa fa-columns"></i> 
            @Html.Resource("Admin Nav Dashboard", "Dashboard")
            </a>
        </li>

    @if (Html.CanAccess<CoreACL>(CoreACL.ManagePages))
    {
        var urlAction = Url.Action("Index", "Webpage");

        <li class="nav-item">
            <a href="@Url.Action("Index", "Webpage")" class="nav-link  @(currentUrl == urlAction ? "active" : "")"><i class="fa fa-file-code-o"></i> 
            @Html.Resource("Admin Nav Pages", "Pages")
            </a>
        </li>
    }

    @if (Html.CanAccess<CoreACL>(CoreACL.ManageMedia))  
    {
        <li class="nav-item"><a href="@Url.Action("Index", "MediaCategory")" class="nav-link @(currentUrl == Url.Action("Index", "MediaCategory") ? "active" : "")"><i class="fa fa-file-image-o"></i> @Html.Resource("Admin Nav Media", "Media")</a></li>
    }

    @if (Html.CanAccess<CoreACL>(CoreACL.ManageLayouts))
    {
        <li class="nav-item"><a href="@Url.Action("Index", "Layout")" class="nav-link @(currentUrl == Url.Action("Index", "Layout") ? "active" : "")"><i class="fa fa-delicious"></i> @Html.Resource("Admin Nav Layout", "Layouts")</a></li>
    }

    @if (Html.CanAccess<CoreACL>(CoreACL.ManageLayouts))
    {
        <li class="nav-item"><a href="@Url.Action("Index", "Form")" class="nav-link @(currentUrl == Url.Action("Index", "Form") ? "active" : "")"><i class="fa fa-wpforms"></i> @Html.Resource("Admin Nav Forms", "Forms")</a></li>
    }
    @foreach (IAdminMenuItem item in adminMenuItems)
    {
        if (item.Children.Any())
        {
            var indexOf = adminMenuItems.IndexOf(item);
            ViewData["indexOf"] = indexOf;
            ViewData["submenu"] = item.Text;

            <li class="nav-item @(currentUrl.Equals(item.Url, StringComparison.OrdinalIgnoreCase) ? "active" : "")" >
                <a href="#@item.Text" class="collapsed nav-link" data-toggle="collapse" data-target="#@item.Text" data-menu="@indexOf">
                    <i class="@item.IconClass"> </i>
                    @Html.Resource("Nav Links - " + item.Text, item.Text)
                </a>
                <partial name="Components/NavLinks/SubMenu" model="item.Children" view-data="ViewData"></partial>

            </li>
        }
        else
        {
            <li class="nav-item @(currentUrl == item.Url ? "active" : "")"><a href="@item.Url" class="nav-link"><i class="@item.IconClass"> </i> @item.Text</a></li>
        }
    }
</ul>
