@using MrCMS.Web.Admin.Infrastructure.Breadcrumbs
@model MrCMS.Web.Admin.Infrastructure.Breadcrumbs.Sitemap
@{
    var breadcrumbs = ViewData.Breadcrumbs();
}

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" id="sidebar-nav">

        @foreach (var item in Model.Nodes)
        {
            if (item.Nodes.Any())
            {
                var indexOf = Model.Nodes.IndexOf(item);
                ViewData["indexOf"] = indexOf.ToString();
                ViewData["submenu"] = item.Name;


                <li class="nav-item has-treeview" data-menu="@indexOf">
                    <a href="#" class="nav-link @(item.IsActive(breadcrumbs) ? "active" : "")">
                        <i class="nav-icon @item.CssClass"> </i>
                        <p>
                            @Html.Resource("Nav Links - " + item.Name, item.Name)
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <partial name="Components/NavLinks/SubMenu" model="item.Nodes" view-data="ViewData"></partial>

                </li>
            }
            else
            {
                <li class="nav-item">
                    <a href="@item.Url" class="nav-link @item.SelectedClass(breadcrumbs)">
                        <i class="nav-icon @(item.CssClass ?? "fa fa-file-code-o")"></i>
                        <p>
                            @Html.Resource("Nav Links - " + item.Name, item.Name)
                        </p>
                    </a>
                </li>
            }
        }
    </ul>
</nav>