@using Microsoft.AspNetCore.Http.Extensions
@using MrCMS.Web.Apps.Core.Models
@model SubMenu
@{
    var indexOf = ViewData["indexOf"] as string;
    var currentUrl = Context.Request.Path.Value;
    var nav = ViewData["submenu"] as string;
    List<ChildMenuItem> items = Model.Where(menuItem => menuItem.CanShow).ToList();
}
<ul class="nav collapse pl-4 list-unstyled subnav" id="@nav" aria-expanded="false">
    @foreach (ChildMenuItem item in items)
    {
        if (item.Children != null && item.Children.Any())
        {
            int index = items.IndexOf(item);
            ViewData["submenu"] = item.Text;
            indexOf = indexOf + index.ToString();
            ViewData["indexOf"] = indexOf;
            ViewData["item"] = item.Text;    
            
            <li class="nav-item">
                <a href="#@item.Text" class="collapsed nav-link @(currentUrl.Equals(item.Url, StringComparison.OrdinalIgnoreCase) ? "active" : "")" data-toggle="collapse" data-target="#@item.Text" data-menu="@indexOf.ToString()">
                    @Html.Resource("Nav Links - " + item.Text, item.Text)
                </a>
                
                <partial name="Components/NavLinks/SubMenu" model="item.Children" view-data="ViewData"></partial>
            </li>
        }
        else
        {
            <li class="nav-item"> 
                <a href="@item.Url" class="nav-link @(currentUrl.Equals(item.Url, StringComparison.OrdinalIgnoreCase) ? "active" : "")">@item.Text</a>
            </li>
        }
    }
</ul>
