@model MrCMS.Web.Apps.Articles.Widgets.ArticleArchive
<div class="form-group">
    @Html.LabelFor(x => x.ArticleList.Id, "Article List Page")
    @Html.DropDownListFor(x => x.ArticleList.Id, ViewData["ArticleLists"] as IEnumerable<SelectListItem>, new { data_val = "true", data_val_required = "Article list needs to be selected.", @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ArticleList.Id)
</div>
<div class="form-group">
    @Html.LabelFor(x => x.ShowNameAsTitle)
    @Html.CheckBoxFor(x => x.ShowNameAsTitle)
</div>