@using MrCMS.Helpers
@using MrCMS.Website
@model MrCMS.Web.Apps.Core.ContentBlocks.FourColumnBlock

<div class="row content-grids">
    <div class="col-sm-3">
        <div class="white-bg mb-5">
            @if (!string.IsNullOrWhiteSpace(Model.Link))
            {
                <a href="@Model.Link">
                    @Html.RenderImage(Model.Image, attributes: new {@class = "img-fluid"})
                </a>
            }
            else
            {
                @Html.RenderImage(Model.Image, attributes: new { @class = "img-fluid" })
            }
            @if (!string.IsNullOrWhiteSpace(Model.Text))
            {
                <div class="pt-5 pb-5 pl-4 pr-4">@Html.Editable(x=>x.Text)</div>
            }
        </div>
    </div>
    <div class="col-sm-3">
        <div class="white-bg mb-5">
            @if (!string.IsNullOrWhiteSpace(Model.Link2))
            {
                <a href="@Model.Link2">
                    @Html.RenderImage(Model.Image2, attributes: new {@class = "img-fluid"})
                </a>
            }
            else
            {
                @Html.RenderImage(Model.Image2, attributes: new { @class = "img-fluid" })
            }
            @if (!string.IsNullOrWhiteSpace(Model.Text2))
            {
                <div class="pt-5 pb-5 pl-4 pr-4">@Html.Editable(x=>x.Text2)</div>
            }
        </div>
    </div>
    <div class="col-sm-3">
        <div class="white-bg mb-5">

            @if (!string.IsNullOrWhiteSpace(Model.Link3))
            {
                <a href="@Model.Link3">
                    @Html.RenderImage(Model.Image3, attributes: new {@class = "img-fluid"})
                </a>
            }
            else
            {
                @Html.RenderImage(Model.Image3, attributes: new { @class = "img-fluid" })
            }
            @if (!string.IsNullOrWhiteSpace(Model.Text3))
            {
                <div class="pt-5 pb-5 pl-4 pr-4">@Html.Editable(x=>x.Text3)</div>
            }
        </div>
    </div>
    <div class="col-sm-3">
        <div class="white-bg mb-5">
            @if (!string.IsNullOrWhiteSpace(Model.Link4))
            {
                <a href="@Model.Link4">
                    @Html.RenderImage(Model.Image4, attributes: new {@class = "img-fluid"})
                </a>
            }
            else
            {
                @Html.RenderImage(Model.Image4, attributes: new { @class = "img-fluid" })
            }
            @if (!string.IsNullOrWhiteSpace(Model.Text4))
            {
                <div class="pt-5 pb-5 pl-4 pr-4">@Html.Editable(x=>x.Text4)</div>
            }
        </div>
    </div>
</div>