@using System.Collections.Generic
@using MrCMS.Helpers
@model int
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Set", "Layout", new { id = "" }, FormMethod.Post, null, new { @class = "update-parent-form" }))
{
    <fieldset>
        <legend>
            @Html.Resource("Admin Layouts Move Title", "Move Layout")
            <span class="btn-group  d-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="@Html.Resource("Move")" />
            </span>
        </legend>
        @Html.Hidden("id", Model)
        <div class="form-group">
            @Html.Label("parentVal", "Layout")
            @Html.DropDownList("parentVal", ViewData["valid-parents"] as IEnumerable<SelectListItem>, new { @class = "select2", @style = "width:100%;" })
        </div>
    </fieldset>
}
@{
    Html.IncludeCss("~/Areas/Admin/Content/Scripts/lib/select2-3.4.5/select2.css");
    Html.IncludeScript("~/Areas/Admin/Content/Scripts/lib/select2-3.4.5/select2.min.js");
    Html.IncludeScript("~/Areas/Admin/Content/Scripts/mrcms/move-webpage.js");
}
