@using System
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Core.Pages
@model MrCMS.Web.Apps.Core.Models.RegisterAndLogin.ChangePasswordModel
@using (Html.BeginForm("ChangePassword", "UserAccount", FormMethod.Post, new { @class = "" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Password, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
    </div>
    <button type="submit" class="btn btn-primary">@Resource("Change Password")</button>
            
    if (!String.IsNullOrEmpty(Model.Message))
    {
    <div class="alert alert-danger">
        @Model.Message
    </div>
    }

}
