@using MrCMS.Helpers
@using MrCMS.Web.Apps.Core.Pages
@model MrCMS.Web.Apps.Core.Models.RegisterAndLogin.ForgotPasswordModel

@using (Html.BeginForm(FormMethod.Post, new { @class = "" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Email)
            </div>
            <div class="btn-group">
                <input type="submit" value="Recover password" class="btn btn-primary" />
                <a href="@( UniquePageHelper.GetUrl<LoginPage>())"  class="btn btn-default"><span class="glyphicon glyphicon-user"></span> @Resource("Login")</a>
            </div>
        </div>
    </div>
}