@using MrCMS.Helpers
@model MrCMS.Web.Apps.Core.Models.RegisterModel

<div class="container">
    @using (Html.BeginForm("RegistrationDetails", "Registration", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <p>&nbsp;</p>
        <div class="row">
            <div class="span3">&nbsp;</div>
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="FirstName">First Name</label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.FirstName)

                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                </div>
                 <div class="control-group">
                    <label class="control-label" for="LastName">Last Name</label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.LastName)
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Email">Email</label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Password">
                        Password</label>
                    <div class="controls">
                        @Html.PasswordFor(model => model.Password)
                         @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ConfirmPassword">
                        Confirm Password</label>
                    <div class="controls">
                        @Html.PasswordFor(model => model.ConfirmPassword)
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" value="Register" class="btn btn-info" />
                    </div>
                </div>

                @if (!String.IsNullOrEmpty(ViewBag.Message))
                {
                    <div class="alert alert-error">
                        @ViewBag.Message
                    </div>
                }

            </div>
            <div class="span3">
            </div>
        </div>
    }
</div>

@{ Html.IncludeScript("~/Themes/Ecommerce/Apps/Ecommerce/Content/Scripts/custom/user-registration.js"); }
