@using MrCMS.Helpers
@model MrCMS.Web.Apps.Core.Models.UserAccountModel
@using (Html.BeginForm("UserAccountDetails", "UserAccount", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="control-group">
        <label class="control-label" for="FirstName">First Name</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="LastName">Last Name</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Email">Email</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Save Changes" class="btn btn-primary" />
        </div>
    </div>

    if (!String.IsNullOrEmpty(ViewBag.Message))
    {
    <div class="alert alert-error">
        @ViewBag.Message
    </div>
    }
}

