@using Microsoft.AspNetCore.Mvc.Rendering
@using MrCMS.Helpers
@model MrCMS.Web.Areas.Admin.Models.AddWidgetModel
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}

@using (Html.BeginForm("Add", "Widget", new { id = "" }, FormMethod.Post, null, new { id = "add-widget-form" }))
{
    <fieldset style="min-height: 500px">
        <legend>
            @Html.Resource("Admin Widget Add Widget", "Add Widget")
            <span class="btn-group pull-right">
                <input type="submit" class="btn-success btn" value="@Html.Resource("Save")" id="add-widget" />
            </span>
        </legend>
        @Html.HiddenFor(model => model.LayoutAreaId)
        @if (Model.WebpageId != null)
        {
            @Html.HiddenFor(model => model.WebpageId);
            <div class="radio">
                <label>@Html.RadioButtonFor(x => x.ForPage, false, new { id = "add-global" }) all pages using this layout</label>
            </div>
            <div class="radio">
                <label>@Html.RadioButtonFor(x => x.ForPage, true, new { id = "add-page" }) this page</label>
            </div>
            <div id="show-recursive" class="form-group">
                @Html.InlineCheckboxFor(x => x.IsRecursive, null, null, "...and all child pages")
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(x => x.WidgetType)
            @Html.DropDownListFor(x => x.WidgetType, WidgetHelper.WidgetTypeDropdownItems, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.WidgetType)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, Model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div data-additional-properties="true">

        </div>
    </fieldset>


}

@{ Html.IncludeScript("~/Areas/Admin/scripts/add-page-widget.js"); }
