@using MrCMS.Helpers
@model MrCMS.Settings.FileSystemSettings
@{ ViewBag.Title = "File System Settings";}


@using (Html.BeginForm("FileSystem", "Settings", FormMethod.Post, new { id = "edit-settings" }))
{
    <fieldset>
        <legend>@Resource("Admin Global Settings", "Global Settings")

            <span class="btn-group  display-inline  pull-right">
                <button class="btn btn-primary">
                    @Resource("Save")</button>
            </span>
        </legend>
        <div class="form-group">
            @Html.LabelFor(settings => settings.StorageType)
            @Html.DropDownListFor(settings => settings.StorageType, Model.StorageTypeOptions, new{@class="form-control"})
        </div>
        <h4>Azure Settings</h4>
        <div class="form-group">
            @Html.LabelFor(settings => settings.AzureAccountName)
            @Html.TextBoxFor(settings => settings.AzureAccountName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(settings => settings.AzureAccountKey)
            @Html.TextBoxFor(settings => settings.AzureAccountKey, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(settings => settings.AzureContainerName)
            @Html.TextBoxFor(settings => settings.AzureContainerName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(settings => settings.AzureCdnDomain)
            @Html.TextBoxFor(settings => settings.AzureCdnDomain, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.InlineCheckboxFor(settings => settings.UseAzureForLucene)
        </div>
        <div class="form-group">
            @Html.InlineCheckboxFor(settings => settings.AzureUsingEmulator)
        </div>
    </fieldset>
}
@{ Html.RenderAction("Show", "FileMigration");}