@model MrCMS.Settings.MailSettings

<div id="mail-settings" class="tab-pane">
    @Html.LabelFor(settings => settings.Host)
    @Html.TextBoxFor(settings => settings.Host)
    @Html.LabelFor(settings => settings.Port)
    @Html.TextBoxFor(settings => settings.Port)
    @Html.LabelFor(settings => settings.UseSSL)
    @Html.CheckBoxFor(settings => settings.UseSSL)
    @Html.LabelFor(settings => settings.UserName)
    @Html.TextBoxFor(settings => settings.UserName)
    @Html.LabelFor(settings => settings.Password)
    @Html.TextBoxFor(settings => settings.Password)
</div>
