@model MrCMS.Settings.MediaSettings
<div id="media-settings" class="tab-pane">
    @Html.LabelFor(settings => settings.ThumbnailImageWidth)
    @Html.TextBoxFor(settings => settings.ThumbnailImageWidth)
    @Html.LabelFor(settings => settings.ThumbnailImageHeight)
    @Html.TextBoxFor(settings => settings.ThumbnailImageHeight)
    @Html.LabelFor(settings => settings.LargeImageWidth)
    @Html.TextBoxFor(settings => settings.LargeImageWidth)
    @Html.LabelFor(settings => settings.LargeImageHeight)
    @Html.TextBoxFor(settings => settings.LargeImageHeight)
    @Html.LabelFor(settings => settings.MediumImageWidth)
    @Html.TextBoxFor(settings => settings.MediumImageWidth)
    @Html.LabelFor(settings => settings.MediumImageHeight)
    @Html.TextBoxFor(settings => settings.MediumImageHeight)
    @Html.LabelFor(settings => settings.SmallImageWidth)
    @Html.TextBoxFor(settings => settings.SmallImageWidth)
    @Html.LabelFor(settings => settings.SmallImageHeight)
    @Html.TextBoxFor(settings => settings.SmallImageHeight)
</div>
