@model MrCMS.Settings.SiteSettings
<div id="site-settings" class="tab-pane active">
    @Html.LabelFor(settings => settings.DefaultLayoutId)
    @Html.DropDownListFor(settings => settings.DefaultLayoutId, ViewData["LayoutOptions"] as IEnumerable<SelectListItem>)
    @Html.LabelFor(settings => settings.Error404PageId)
    @Html.DropDownListFor(settings => settings.Error404PageId, ViewData["Error404PageOptions"] as IEnumerable<SelectListItem>)
    @Html.LabelFor(settings => settings.Error500PageId)
    @Html.DropDownListFor(settings => settings.Error500PageId, ViewData["Error500PageOptions"] as IEnumerable<SelectListItem>)
    @Html.LabelFor(settings => settings.MediaDirectory)
    @Html.TextBoxFor(settings => settings.MediaDirectory)
    @Html.LabelFor(settings => settings.SystemEmailAddress)
    @Html.TextBoxFor(settings => settings.SystemEmailAddress)
    @Html.LabelFor(settings => settings.SiteIsLive)
    @Html.CheckBoxFor(settings => settings.SiteIsLive)
    @Html.LabelFor(settings => settings.SiteUrl)
    @Html.TextBoxFor(settings => settings.SiteUrl)
</div>
