@using MrCMS.Helpers
@model System.Collections.Generic.List<MrCMS.Web.Areas.Admin.Models.MessageTemplateInfo>
@{
    ViewBag.Title = "Message Templates";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="page-header">@Resource("Admin Message Templates Title", "Message Templates")</h1>
<table class="table table-condensed table-striped">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Type.Name.BreakUpString()
            </td>
            <td>
                @(item.IsOverride ? Resource("Site Override") : Resource("System Default"))
            </td>
            <td>
                <div class="btn-group">
                    @*@Html.ActionLink(Resource("Edit"), "Edit", new { type = item.TypeName }, new { @class = "btn btn-default btn-xs" })*@
                    @if (!item.IsOverride)
                    {
                        @Html.ActionLink(Resource("Add site override"), "AddSiteOverride", "MessageTemplate", new { type = item.TypeName }, new { @class = "btn btn-default btn-xs" })
                    }
                    else
                    {
                        @Html.ActionLink(Resource("Delete site override"), "DeleteSiteOverride", "MessageTemplate", new { type = item.TypeName }, new { @class = "btn btn-default btn-xs", data_toggle = "fb-modal" })
                    }
                    @Html.ActionLink(Resource("Edit"), "Edit", new { type = item.TypeName }, new { @class = "btn btn-default btn-xs" })
                    @if (item.CanPreview)
                    {
                        @Html.ActionLink(Resource("Preview"), "Preview", "MessageTemplate", new { id = item.TypeName }, new { @class = "btn btn-xs btn-default ", data_toggle = "fb-modal" })
                    }
                </div>
            </td>
        </tr>
    }
</table>
