@model MrCMS.Web.Admin.Models.PushNotificationModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
    Html.IncludeScript("~/Areas/Admin/scripts/push-notification.js");
}
@using (Html.BeginForm("Push", "PushNotification", new { }, FormMethod.Post, null, new { data_push_notification_form = "" }))
{
    <fieldset>
        <legend>
            @Html.Resource("Admin Push Notification To All", "Push notification to all")
            <span class="btn-group d-inline pull-right">
                <button type="submit" class="btn-primary btn">@Html.Resource("Push")</button>
            </span>
        </legend>
        <div class="form-group">
            @Html.LabelFor(x => x.Title)
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Title)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Body)*
            @Html.TextAreaFor(x => x.Body, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Body)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Url)
            @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Url)
        </div>
    </fieldset>
}
