@using MrCMS.Web.Admin.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MrCMS.Web.Admin.Infrastructure.TagHelpers
@model MrCMS.Web.Admin.Models.MoveWebpageModel
@{
    var confirmationModel = ViewData["confirmation-model"] as MoveWebpageConfirmationModel;
}
<form asp-controller="MoveWebpage" asp-action="Confirm" asp-route-id="" method="post">
    <admin-header>
        <row>
            <admin-header-title title="@await Html.Resource("Admin Webpage Move", "Move", option=> option.DisableInlineEditing())"/>
        </row>
    </admin-header>


    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.ParentId)
    @Html.HiddenFor(x => x.UpdateUrls)
    <p>
        @await Html.Resource("Admin Webpage Move - Confirm Text", "{count} record(s) will be impacted. Are you sure you would like to proceed?  This process will be added to a batch, it will not process immediately but may take several minutes to complete.",configureOptions=> configureOptions.AddReplacement("count",confirmationModel?.ChangedPages.Count.ToString()))
    </p>
    <div class="alert alert-warning">
        @await Html.Resource("Admin Webpage Move - Confirm Structure Warning", "This is a structural change, please confirm with your system administrator that a backup has been taken before proceeding")
    </div>

    <table class="table table-condensed table-striped">
        <thead>
        <tr>
            <th>
                @await Html.Resource("Old location")
            </th>
            <th>
                @await Html.Resource("Old URL")
            </th>
            <th>
                @await Html.Resource("New location")
            </th>
            <th>
                @await Html.Resource("New URL")
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in confirmationModel.ChangedPages)
        {
            <tr>
                <td>@item.OldHierarchy</td>
                <td>@item.OldUrl</td>
                <td>@item.NewHierarchy</td>
                <td>@item.NewUrl</td>
            </tr>
        }
        </tbody>
    </table>
    <hr/>
    <div class="btn-group">
        <button type="submit" class="btn btn-primary">@await Html.Resource("Complete")</button>
        @Html.ActionLink(await Html.PlainResource("Cancel"), "Edit", "Webpage", new {Model.Id}, new {@class = "btn btn-default"})
    </div>


</form>