@using Foolproof
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Core.Pages
@using MrCMS.Website
@model MrCMS.Web.Apps.Commenting.Models.GuestAddCommentModel
<h4>Comment as guest</h4>
@using (Html.BeginForm("Guest", "Comments", new { Model.WebpageId }, FormMethod.Post, new { @class = "add-comment" }))
{
    @Html.TextAreaFor(model => model.Message, new { @class = "input-block-level" })
    @Html.ValidationMessageFor(model => model.Message)
    <div class="row-fluid">
        <div class="span6">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="span6">
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>
    <div class="text-right">
        <span class="notloggedin-actions">
            <a href="@(UniquePageHelper.GetUrl<LoginPage>(new { returnUrl = CurrentRequestData.CurrentPage.LiveUrlSegment }))" class="btn-link">Login</a>
            <span>&nbsp;/&nbsp;</span>
            <a href="@(UniquePageHelper.GetUrl<RegisterPage>(new { returnUrl = CurrentRequestData.CurrentPage.LiveUrlSegment }))" class="btn-link">Register</a>
        </span>
        <input type="submit" class="btn btn-primary" value="Post" />
    </div>
}
