@using MrCMS.Helpers
@using MrCMS.Web.Apps.Core.Pages
@using MrCMS.Website
@model MrCMS.Web.Apps.Commenting.Models.LoggedInUserAddCommentModel
<h4>Reply as <a href="@(UniquePageHelper.GetUrl<UserAccountPage>())">@CurrentRequestData.CurrentUser.Name</a>  <span class="pull-right"><a href="#" data-hide-reply-to="@Model.InReplyTo">&times;</a></span></h4>
@using (Html.BeginForm("LoggedIn", "Comments", new { Model.WebpageId, Model.InReplyTo }, FormMethod.Post, new { @class = "add-comment" }))
{
    @Html.TextAreaFor(model => model.Message, new { @class = "input-block-level" })
    @Html.ValidationMessageFor(model => model.Message)
   
    <div class="text-right">
        <input type="submit" class="btn btn-primary" value="Post" />
    </div>
}