@using MrCMS.Helpers
@model MrCMS.Web.Apps.Articles.Pages.Article 
           
@Html.LabelFor(model => model.FeatureImage, "Article Image")
@Html.TextBoxFor(model => model.FeatureImage, new { data_type = "media-selector" })

@Html.LabelFor(model => model.Abstract)
@Html.TextAreaFor(model => model.Abstract, new { @rows = "4", @class = "span12" })
<span id="abstract-character-count">
    <span>@((160 - (Model.Abstract ?? string.Empty).Length) + " characters remaining")</span>
</span>

@Html.LabelFor(model => model.User.Id, "Author")
@Html.DropDownListFor(model => model.User.Id, ViewData["users"] as IEnumerable<SelectListItem>)

@Html.LabelFor(x => x.TagList, "Tags")
@Html.TextBoxFor(x => x.TagList, new { @class = "span12 system-tagging" })

@Html.InfoBlock("Heads up! ", "Set the tags here you would like to use as your categories for this article.")