@model MrCMS.Web.Apps.Core.Entities.ContentBlocks.Slider
@{
    var sliderId = $"slider-{Guid.NewGuid()}";
}

@if (Model.Slides?.Any() ?? false)
{
    <div id="@(sliderId)" class="carousel slide my-3" data-bs-ride="carousel" data-bs-interval="@Model.Interval" data-bs-pause="@(Model.PauseOnHover ? "hover" : "false")">
        @if (Model.ShowIndicator)
        {
            <div class="carousel-indicators">
                @for (var i = 0; i < Model.Slides.Count; i++)
                {
                    <button type="button" data-bs-target="#@(sliderId)" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></button>
                }
            </div>
        }
        <div class="carousel-inner">
            @for (var i = 0; i < Model.Slides.Count; i++)
            {
                var hasMobileImage = !string.IsNullOrWhiteSpace(Model.Slides[i].MobileImageUrl);
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <div class="ratio ratio-16x9">
                        @await Html.RenderImage(Model.Slides[i].Url, attributes: new { @class = hasMobileImage ? "d-none d-sm-block img-fluid" : "img-fluid" })
                        @if (hasMobileImage)
                        {
                            @await Html.RenderImage(Model.Slides[i].MobileImageUrl, attributes: new { @class = "d-sm-none img-fluid" })
                        }
                    </div>
                    @if (!string.IsNullOrWhiteSpace(Model.Slides[i].Caption))
                    {
                        <div class="carousel-caption @Model.CaptionCssClass">
                            @Model.Slides[i].Caption
                        </div>
                    }
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#@(sliderId)" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#@(sliderId)" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
}