@using System.Collections.Generic
@using MrCMS.Helpers
@model MrCMS.Web.Admin.Models.AddPageTemplateModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
    var pageTypeOptions = ViewData["page-type-options"] as List<SelectListItem> ?? new List<SelectListItem>();
    var layoutOptions = ViewData["layout-options"] as List<SelectListItem> ?? new List<SelectListItem>();
    var urlGeneratorOptions = ViewData["url-generator-options"] as List<SelectListItem> ?? new List<SelectListItem>();
    Html.IncludeScript("~/Areas/Admin/scripts/add-page-template.js");
}

@using (Html.BeginForm("Add", "PageTemplate", FormMethod.Post))
{
    <fieldset>
        <legend>
            @Html.Resource("Admin Page Template Add Title", "Add Page Template")
            <span class="btn-group d-inline pull-right">
                <input type="submit" class="btn-primary btn" value="@Html.Resource("Save")" />
            </span>
        </legend>
        <div class="form-group">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.PageTemplateName)
            @Html.TextBoxFor(x => x.PageTemplateName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.PageTemplateName)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.PageType)
            @Html.DropDownListFor(x => x.PageType, pageTypeOptions, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.PageType)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.LayoutId, Html.Resource("Layout"))
            @Html.DropDownListFor(x => x.LayoutId, layoutOptions, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.LayoutId)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.UrlGeneratorType)
            @Html.DropDownListFor(x => x.UrlGeneratorType, urlGeneratorOptions, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.UrlGeneratorType)
        </div>
        <div class="form-group">
            @Html.InlineCheckboxFor(template => template.SingleUse)
        </div>
    </fieldset>
}
