@using MrCMS.Web.Admin.Infrastructure.Helpers
@model MrCMS.Web.Admin.Models.ContentBlocks.AddContentBlockViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
    var additionalPropertyModel = ViewData["additional-property-model"];
}

@using (Html.BeginForm("Add", "ContentBlock", new { id = "" }, FormMethod.Post))
{
    <fieldset>
        <legend>
            Add @Model.TypeDisplayName
            <span class="btn-group pull-right">
                <button type="submit" class="btn btn-primary">Save</button>
            </span>
        </legend>
        @Html.HiddenFor(block => block.WebpageId)
        @Html.HiddenFor(block => block.BlockType)

        <div class="form-group">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name)
        </div>

        @if (additionalPropertyModel != null)
        {
            @await Html.RenderCustomAddAdminProperties(Model.ClrType, additionalPropertyModel)
        }


    </fieldset>
}