@using MrCMS.Web.Apps.Admin.Infrastructure.Helpers
@model MrCMS.Web.Apps.Admin.Models.ContentBlocks.AddContentBlockViewModel
@{
    var additionalPropertyModel = ViewData["additional-property-model"];
}
<div class="content-item">
    @using (Html.BeginForm("Add", "ContentBlock", new { id = "" }, FormMethod.Post))
    {
        <fieldset>
            <legend>
                Add @Model.TypeDisplayName
                <span class="btn-group pull-right">
                    <a href="@Url.Action("Edit", "Webpage", new {Id = Model.WebpageId})" class="btn btn-secondary">Back</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </span>
            </legend>
            @Html.HiddenFor(block => block.WebpageId)
            @Html.HiddenFor(block => block.BlockType)

            <div class="form-group">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>

            @if (additionalPropertyModel != null)
            {
                @await Html.RenderCustomAddAdminProperties(Model.ClrType, additionalPropertyModel)
            }


        </fieldset>
    }
</div>
