@using Microsoft.ApplicationInsights.AspNetCore.Extensions
@using MrCMS.ACL.Rules
@using MrCMS.Web.Apps.Admin.Models
@model IEnumerable<MrCMS.Web.Apps.Admin.Models.IAdminMenuItem>
@{
    var currentUrl = Context.Request.GetUri().AbsolutePath;
}
<ul class="nav nav-pills nav-stacked">
    @if (Html.CanAccess<CoreACL>(CoreACL.ManagePages))
    {
        <li class="@(currentUrl == Url.Action("Index", "Webpage") ? "active" : "")"><a href="@Url.Action("Index", "Webpage")"><i class="fa fa-file-code-o"></i> @Html.Resource("Admin Nav Pages", "Pages")</a></li>
    }

    @if (Html.CanAccess<CoreACL>(CoreACL.ManageMedia))
    {
        <li class="@(currentUrl == Url.Action("Index", "MediaCategory") ? "active" : "")"><a href="@Url.Action("Index", "MediaCategory")"><i class="fa fa-file-image-o"></i> @Html.Resource("Admin Nav Media", "Media")</a></li>
    }

    @if (Html.CanAccess<CoreACL>(CoreACL.ManageLayouts))
    {
        <li class="@(currentUrl == Url.Action("Index", "Layout") ? "active" : "")"><a href="@Url.Action("Index", "Layout")"><i class="glyphicon glyphicon-th"></i> @Html.Resource("Admin Nav Layout", "Layouts")</a></li>
    }
    @{
        List<IAdminMenuItem> adminMenuItems = Model.Where(item => item.CanShow).ToList();
    }
    @foreach (IAdminMenuItem item in adminMenuItems)
    {
        if (item.Children.Any())
        {
            var indexOf = adminMenuItems.IndexOf(item);
            ViewData["indexOf"] = indexOf;
            <li class="dropdown-submenu @(currentUrl.Equals(item.Url, StringComparison.OrdinalIgnoreCase) ? "active" : "")" data-menu="@indexOf">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown-mrcms">
                    <i class="@item.IconClass"> </i>
                    @Html.Resource("Nav Links - " + item.Text, item.Text)
                    <b class="caret"></b>

                </a>
                <partial name="Components/NavLinks/SubMenu" model="item.Children" view-data="ViewData"></partial>

            </li>
        }
        else
        {
            <li class="@(currentUrl == item.Url ? "active" : "")"><a href="@item.Url"><i class="@item.IconClass"> </i> @item.Text</a></li>
        }
    }
</ul>
