@using System
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Core.Pages
@model MrCMS.Models.Auth.RegisterModel

@using (Html.BeginForm("RegistrationDetails", "Registration", null, FormMethod.Post, new { @class = "" }))
{
    @Html.HiddenFor(x => x.ReturnUrl)
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName)
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LastName)
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword)
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
            
            <div class="btn-group">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok-sign"></span> @Resource("Register")</button>
            <a href="@( UniquePageHelper.GetUrl<LoginPage>())" class="btn btn-default">@Resource("Already Registered? Login here")</a>            
            </div>
            <br />
            @if (!String.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="alert alert-danger">
                    @ViewBag.Message
                </div>
            }


        </div>
    </div>
}

