@using MrCMS.Entities.Documents.Media
@using MrCMS.Web.Apps.Admin.Models
@model MrCMS.Web.Apps.Admin.Models.MediaCategorySearchModel
@{
    var category = ViewData["category"] as MediaCategory;
    ViewBag.Title = category.Name;
}
<div class="inline-buttons-container">
    <h1 class="page-header">@category.Name</h1>
    <span class="btn-group pull-right">
        <a href="@Url.Action("SortFiles", "MediaCategory", new {id = Model.Id})" class="btn btn-secondary">@Html.Resource("Admin Media Sort Button", "Sort Files")</a>
        <a href="@Url.Action("Edit", "MediaCategory", new {id = Model.Id})" class="btn  btn-secondary">@Html.Resource("Admin Media Edit Folder Button", "Edit Folder")</a>
        <a href="@Url.Action("Add", "MediaCategory", new {id = Model.Id})" class="btn  btn-primary">@Html.Resource("Admin Media New Folder Button", "New folder")</a>
    </span>
</div>
@Html.Hidden("FolderId", Model.Id)
<partial name="Manage" model="Model" />