@using System
@using System.Linq
@using MrCMS.Entities.Documents.Web
@using MrCMS.Services
@using MrCMS.Website
@model MrCMS.Web.Apps.Core.Models.Navigation.NavigationList
@inject IGetCurrentPage GetCurrentPage
@inject IGetLiveUrl GetLiveUrl
@{
    var currentPage = GetCurrentPage.GetPage();
    var activePages = currentPage?.ActivePages.Select(webpage => GetLiveUrl.GetUrlSegment(webpage, true)).ToList() ?? new List<string>();
}
    <ul class="nav navbar-nav">
        @foreach (var item in Model)
        {
            if (@item.Children != null && @item.Children.Any())
            {
            <li class="dropdown @(activePages.Any(s => s == item.Url.ToString()) ? "active" : "")">
                <a href="@item.Url" class="dropdown-toggle" data-toggle="dropdown">@item.Text</a>
                @if (item.Children.Any())
                {
                    <ul class="dropdown-menu">
                        @foreach (var record in item.Children)
                        {
                            <li class="@(activePages.Contains(record.Url.ToString(), StringComparer.OrdinalIgnoreCase) ? "active" : "")">
                               <a href="@record.Url">@record.Text</a>
                            </li>
                        }
                    </ul>
                }
            </li> 
            }
            else
            {
            <li class="@(activePages.Any(s => s == item.Url.ToString()) ? "active" : "")">
               <a href="@item.Url">@item.Text</a>
            </li>      
            }
        }
    </ul>
