@using System.Linq
@using MrCMS.Services
@model MrCMS.Web.Apps.Core.Models.Navigation.NavigationList
@inject IGetCurrentPage GetCurrentPage
@inject IGetLiveUrl GetLiveUrl
@{
    var currentPage = GetCurrentPage.GetPage();
    var activePages = currentPage?.ActivePages.Select(webpage => GetLiveUrl.GetUrlSegment(webpage, true)).ToList() ?? new List<string>();
}
<ul class="navbar-nav mr-auto">
    @foreach (var item in Model)
    {
        if (@item.Children != null && @item.Children.Any())
        {
            <li class="nav-item dropdown @(activePages.Any(s => s == item.Url.ToString()) ? "active" : "")">
                <a class="nav-link dropdown-toggle" href="#" id="dd-@(item.Text)" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @item.Text
                </a>
                @if (item.Children.Any())
                {
                    <div class="dropdown-menu" aria-labelledby="dd-@(item.Text)">
                        @foreach (var record in item.Children)
                        {
                            <a class="dropdown-item @(activePages.Contains(record.Url.ToString(), StringComparer.OrdinalIgnoreCase) ? "active" : "")" href="@record.Url">
                                @record.Text
                            </a>
                        }
                    </div>
                }
            </li>
        }
        else
        {
            <li class="nav-item @(activePages.Any(s => s == item.Url.ToString()) ? "active" : "")">
                <a class="nav-link" href="@item.Url">
                    @item.Text
                </a>
            </li>
        }
    }
</ul>