@model MrCMS.Web.Apps.Core.Areas.Admin.Models.Content.UpdateQuoteAdminModel

<div class="form-group">
    @Html.LabelFor(x => x.QuoteText)
    @Html.TextBoxFor(x => x.QuoteText, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.QuoteText)
</div>
<div class="form-group">
    @Html.LabelFor(x => x.QuoteFooter)
    @Html.TextBoxFor(x => x.QuoteFooter, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.QuoteFooter)
</div>
<div class="form-group">
    @Html.LabelFor(x => x.CssClasses)
    @Html.TextBoxFor(x => x.CssClasses, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CssClasses)
</div>