@using MrCMS.Web.Apps.Core.Entities.ContentBlocks
@model MrCMS.Web.Apps.Core.Areas.Admin.Models.Content.UpdateSliderModel

<div class="form-group">
    @Html.LabelFor(x => x.Interval)
    @Html.TextBoxFor(x => x.Interval, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Interval)
</div>

<div class="form-check">
    @Html.InlineCheckboxFor(m=>m.PauseOnHover)
    @Html.InlineCheckboxFor(m=>m.ShowIndicator)
</div>

<div class="form-group">
    @Html.LabelFor(x => x.CaptionCssClass)
    @Html.TextBoxFor(x => x.CaptionCssClass, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CaptionCssClass)
</div>