@model MrCMS.Web.Apps.Core.Areas.Admin.Models.Content.UpdateTextAdminModel

<div class="form-group">
    @Html.LabelFor(x => x.Heading)
    @Html.TextBoxFor(x => x.Heading, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Heading)
</div>

<div class="form-group">
    @Html.LabelFor(x => x.Subtext)
    @Html.TextAreaFor(x => x.Subtext, new { @class = "ckedit-enabled" })
    @Html.ValidationMessageFor(x => x.Subtext)
</div>