@model MrCMS.Web.Apps.Core.Areas.Admin.Models.Content.UpdateTextAdminModel
@using MrCMS.Web.Apps.Core.Entities.ContentBlocks

@{
    var aligmentOptions = EnumHelper<Text.Alignment>.GetOptions();
}
<div class="form-group">
    @Html.LabelFor(x => x.Heading)
    @Html.TextBoxFor(x => x.Heading, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Heading)
</div>

<div class="form-group">
    @Html.LabelFor(x => x.HeadingAlignment)
    @Html.DropDownListFor(x => x.HeadingAlignment,aligmentOptions, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.HeadingAlignment)
</div>

<div class="form-group">
    @Html.LabelFor(x => x.Subtext)
    @Html.TextAreaFor(x => x.Subtext, new { @class = "ckedit-enabled" })
    @Html.ValidationMessageFor(x => x.Subtext)
</div>