@using MrCMS.Helpers
@using MrCMS.Logging
@model MrCMS.Logging.LogSearchQuery
@{
    var siteOptions = ViewData["site-options"] as List<SelectListItem>;
}
@using (Html.BeginForm("Index", "Log", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-2">
            @Html.LabelFor(query => query.Type)
            @Html.DropDownListFor(query => query.Type, Enum.GetValues(typeof(LogEntryType)).OfType<LogEntryType>().BuildSelectItemList(type => type.ToString(), type => type.ToString(), type => type == Model.Type, "All"), new { @class = "col-lg-12" })
        </div>
        @if (siteOptions.Any())
        {
            <div class="col-lg-2">
                @Html.LabelFor(query => query.SiteId)
                @Html.DropDownListFor(query => query.SiteId, siteOptions, new { @class = "col-lg-12" })
            </div>
        }
        <div class="col-lg-4">
            @Html.LabelFor(query => query.Message)
            @Html.TextBoxFor(query => query.Message, new { @class = "col-lg-12" })
        </div>
        <div class="col-lg-4">
            @Html.LabelFor(query => query.Detail)
            @Html.TextBoxFor(query => query.Detail, new { @class = "col-lg-12" })
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input type="submit" class="btn btn-primary" value="Search" />
        </div>
    </div>
}
