@using MrCMS.Helpers
@using MrCMS.Logging
@model MrCMS.Paging.IPagedList<Log>
@{
    ViewBag.Title = "Logs";
}
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Logs 
            <span class="btn-group  display-inline  pull-right">
                <a href="@Url.Action("Delete", "Log")" class="btn btn-danger" data-toggle="fb-modal">
                    Delete logs</a>
                <input class="btn btn-primary" type="submit" value="Update" />
            </span>
        </legend>
        @Html.Label("type", "Filter logs")
        @Html.DropDownList("type", Enum.GetValues(typeof(LogEntryType)).OfType<LogEntryType>().BuildSelectItemList(type => type.ToString(), type => type.ToString(), type => type.ToString() == Request["type"], "All"))
    </fieldset>
}
@if (Model.Count == 0)
{
    @:No logs.
        }
else
{
    <table class="table table-striped table-condensed" style="overflow: scroll">
        <tr>
            <th>
                Date
            </th>
            <th>
                Message
            </th>
            <th>
                Type
            </th>
            <th>
                Actions
            </th>
        </tr>
        @foreach (var entry in Model)
        {
            <tr>
                <td>
                    @entry.CreatedOn.ToString("dd/MM/yyyy HH:mm")
                </td>
                <td>
                    @entry.Message
                </td>
                <td>
                    @entry.Type
                </td>
                <td>
                    @Html.ActionLink("Show", "Show", new { id = entry.Id })
                </td>
            </tr>
        }
    </table>
}
@Html.Pager(Model, "Index", i => new { page = i })
