@using MrCMS.Helpers
@using MrCMS.Models
@model IEnumerable<IAdminMenuItem>
<ul class="nav">
    <li><a href="/admin" style="padding-left: 0;">Dashboard</a></li>
    <li><a href="/">Home</a></li>
    @foreach (var item in Model.Where(item => item.CanShow))
    {
        if (item.Children.Any())
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    @item.Text
                    <b class="caret"></b>
                </a>
                @RenderMenu(item.Children)
            </li>
        }
        else
        {
            <li><a href="@item.Url">@item.Text</a></li>
        }
    }
</ul>
@helper RenderMenu(SubMenu subMenu)
{
    <ul class="dropdown-menu">
        @{ var keys = subMenu.Keys.Where(s => subMenu[s].Any(menuItem => menuItem.CanShow)).ToList(); }
        @for (int index = 0; index < keys.Count; index++)
        {
            var headerName = keys[index];
            if (!string.IsNullOrWhiteSpace(headerName))
            {
                <li class="nav-header">@headerName</li>
            }
            foreach (var child in subMenu[headerName].Where(menuItem => menuItem.CanShow))
            {
                if (child.Children != null && child.Children.Keys.Any())
                {
                    <li class="dropdown-submenu">
                        <a href="@child.Url">@child.Text</a>
                        @RenderMenu(child.Children)
                    </li>
                }
                else
                {
                    <li>
                        <a href="@child.Url">@child.Text</a>
                    </li>
                }
            }
            if (index != keys.Count - 1)
            {
                <li class="divider"></li>
            }
        }
    </ul>
}