@using System.Drawing
@using MrCMS.ACL.Rules
@using MrCMS.Helpers
@using MrCMS.Services
@using MrCMS.Services.Canonical
@using MrCMS.Settings
@using MrCMS.Website.Auth
@using MrCMS.Website.Optimization
@model MrCMS.Entities.Documents.Web.Webpage
@inject SEOSettings SeoSettings
@inject IFrontEndEditingChecker FrontEndEditingChecker
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@(this.PageTitle())</title>
    <meta name="description" content="@(this.Description())"/>
    <meta name="keywords" content="@(this.Keywords())"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @Html.RenderFavicon(new Size(16, 16))
    @Html.RenderFavicon(new Size(32, 32))
    @Html.RenderFavicon(new Size(152, 152))
    @{
        Html.IncludeCss("~/Apps/Core/lib/bootstrap/dist/css/bootstrap.css");
        Html.IncludeCss("~/Apps/Core/lib/fontawesome/css/all.css");
        Html.IncludeCss("~/Apps/Core/styles/style.css");
    }
    @*@Styles.Render(AppStylesheetBundle.VirtualUrl)*@
    @{ Html.RenderCss(); }
    @Html.Raw(SeoSettings.TrackingScripts)
    @Html.Raw(Model.CustomHeaderScripts)
    @ViewData.LinkTags().Render()
</head>
<body>
@Html.Raw(SeoSettings.TrackingScriptsBody)

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/Apps/Core/img/mrcms-hat.gif" height="30" class="d-inline-block align-top" alt="Mr CMS" title="Mr CMS"/>
            Mr CMS
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-main">
            @(await Component.RenderZone("Main Navigation"))
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="dd-search" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-search">
                        <partial name="SearchForm"/>
                        @*@{await Html.RenderPartialAsync("SearchForm");}*@
                    </div>
                </li>
                <li class="nav-item dropdown">
                    @(await Component.RenderZone("Header Right"))
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container py-3">
    @(await Component.RenderZone("Before Content"))
    @RenderBody()
    @(await Component.RenderZone("After Content"))
</div>

<hr/>

<div class="container">
    <footer>
        @(await Component.RenderZone("Footer"))
    </footer>
</div>

<script src="https://www.google.com/recaptcha/api.js?onload=recaptchaOnLoad&render=explicit" async defer></script>

@{
    Html.IncludeScript("~/Apps/Core/lib/jquery/jquery-3.3.1.min.js");
    Html.IncludeScript("~/Apps/Core/lib/popper.min.js");
    Html.IncludeScript("~/Apps/Core/lib/bootstrap/dist/js/bootstrap.js");
    Html.IncludeScript("~/Apps/Core/lib/jquery/validate/jquery.validate.js");
    Html.IncludeScript("~/Apps/Core/lib/jquery/validate/jquery.validate.unobtrusive.js");
    Html.IncludeScript("~/Apps/Core/lib/jquery/validate/unobtrusive-bootstrap.js");
    Html.IncludeScript("~/Apps/Core/Scripts/recaptcha.js");
}
@if (FrontEndEditingChecker.IsAllowed())
{
    <partial name="~/Views/Shared/InPageEditor.cshtml" model="Model"/>
}
@if (IsSectionDefined("JavascriptBlockInclude"))
{
    @RenderSection("JavascriptBlockInclude")
}
@Html.Raw(Model.CustomFooterScripts)
@*@Scripts.Render(AppScriptBundle.VirtualUrl)*@
@{ Html.RenderScripts(); }
<mini-profiler/>
</body>
</html>