@using System.Linq
@using Microsoft.AspNetCore.Http.Extensions
@using MrCMS.Entities.Documents.Layout
@using MrCMS.Entities.Widget
@using MrCMS.Helpers
@model MrCMS.Web.Admin.Models.UpdateLayoutAreaModel
@{
    ViewBag.Title = "Edit | " + Model.AreaName;
    var layout = ViewData["layout"] as Layout;
    var widgets = ViewData["widgets"] as IList<Widget>;
}



@using (Html.BeginForm("Edit", "LayoutArea", FormMethod.Post, new { id = "edit-document" }))
{
    <fieldset>
        <legend>
            @Model.AreaName
        <span class="btn-group pull-right">
            @Html.ActionLink(Html.Resource("Admin Layout Area Edit Back", "Back to Layout"), "Edit", "Layout", new { id = layout.Id }, new { @class = "btn btn-secondary" })
            <a href="@Url.Action("Delete", "LayoutArea", new {id = Model.Id})" class="btn btn-danger" data-toggle="fb-modal">@Html.Resource("Delete")</a>
            <button class="btn btn-primary">@Html.Resource("Save")</button>
        </span>
    </legend>

    <div class="form-group">
        @Html.LabelFor(x => x.AreaName)
        @Html.TextBoxFor(x => x.AreaName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AreaName, "", new { @class = "error" })
    </div>

    @{
        if (widgets.Any())
        {
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.Resource("Name")
                    </th>
                    <th>
                        @Html.Resource("Type")
                </th>
                <th>
                    @Html.Resource("Actions")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var widget in widgets)
        {
            <tr>
                <td>@widget.Name</td>
                <td>
                    @widget.WidgetTypeFormatted
                </td>
                <td>
                    <div class="btn-group">
                        @Html.ActionLink(Html.Resource("Edit"), "Edit", "Widget", new { id = widget.Id }, new { @class = "btn btn-secondary btn-sm", @data_toggle = "fb-modal" })
                        <a href="@Url.Action(Html.Resource("Delete"), "Widget", new {id = widget.Id})" class="btn btn-sm btn-danger" data-toggle="fb-modal">@Html.Resource("Delete")</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
}
else
{
@Html.InfoBlock(Html.Resource("Heads up"), Html.Resource("Admin Layout Area Widgets Info", "Click add widget to add the first widget to this area."));
}
    }

    <div class="btn-group">
        <a href="@Url.Action(Html.Resource("Add"), "Widget", new {id = Model.Id, returnUrl = Context.Request.GetEncodedUrl()})" class="btn btn-sm btn-secondary" data-toggle="fb-modal">@Html.Resource("Admin Layout Area Add Widget", "Add widget")</a>
        @{
            if (widgets.Any())
            {
                @Html.ActionLink(Html.Resource("Sort"), "SortWidgets", "LayoutArea", new { id = Model.Id, returnUrl = Context.Request.GetEncodedUrl() }, new { @class = "btn btn-sm btn-secondary", @data_toggle = "fb-modal" })
            }
        }

    </div>

</fieldset>

<hr />
}