@using MrCMS.Web.Admin.Services.UserSubscriptionReports
@using Newtonsoft.Json
@model MrCMS.Web.Admin.Models.UserSubscriptionReports.UserRegistrationReportsSearchQuery
@inject IUserRegistrationsReportsService UserRegistrationsReportsService
@{
    var data = UserRegistrationsReportsService.GetRegistrations(Model);
    ViewBag.Title = await Html.Resource("Admin User Subscription Reports Title", "User Subscription Reports");
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string xAxisLabel = await Html.Resource("User Subscription Tooltip Title X", "Subscribed On");
    string yAxisLabel = await Html.Resource("User Subscription Tooltip Title Y", "Number of Users");
    string graphLabel = await Html.Resource("User Subscription Graph Label", "User Subscriptions Per Month");
}

<form asp-controller="UserRegistrationReports" asp-action="Index" method="post">

    <admin-header>
        <row>
            <admin-header-title title="@await Html.Resource("admin - user - registrations - report - page - title", "User Registration report") "/>

            <admin-header-actions>
                <input type="submit" class="btn btn-primary" value="@await Html.Resource("admin-search", "Search")"/>
            </admin-header-actions>
        </row>
    </admin-header>

    <div class="row">
        <div class="col-lg-2">
            @Html.LabelFor(query => query.StartDate)
            @Html.TextBoxFor(query => query.StartDate, new {@class = "date-time-picker form-control"})
        </div>
        <div class="col-lg-2">
            @Html.LabelFor(query => query.EndDate)
            @Html.TextBoxFor(query => query.EndDate, new {@class = "date-time-picker form-control"})
        </div>
    </div>

</form>
<canvas data-total-registrations="@JsonConvert.SerializeObject(data)"></canvas>