@using MrCMS.Web.Apps.Admin.Infrastructure.Breadcrumbs
@model dynamic
@{
    var breadcrumbs = ViewData.Breadcrumbs();
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @if (breadcrumbs.Any())
        {
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">@Html.Resource("Home")</a>
            </li>
            foreach (var breadcrumb in breadcrumbs)
            {
                if (breadcrumb == breadcrumbs.Last())
                {
                    <li class="breadcrumb-item active">
                        <a>@breadcrumb.Name</a>
                    </li>
                }
                else
                {
                    <li class="breadcrumb-item">
                        <a href="@breadcrumb.Link(Url)">@breadcrumb.Name</a>
                    </li>
                }
            }
        }
        else
        {
            <li>
                &nbsp;
            </li>
        }
    </ol>
</nav>