@using MrCMS.ACL.Rules
@using MrCMS.Entities.Documents.Web
@using MrCMS.Services
@using MrCMS.Settings
@using MrCMS.Web.Admin.Infrastructure.Helpers
@using MrCMS.Web.Admin.Services
@model dynamic
@inject SiteSettings SiteSettings
@inject IWebpageChildrenChecker WebpageChildrenChecker
@inject FormAdminService FormAdminService
@inject IGetCurrentPage GetCurrentPage
@{
    var currentPage = GetCurrentPage.GetPage();
    var currentPageId = currentPage?.Id ?? 0;
    var canEditPage = await Html.CanAccess("Webpage", "Edit");
    var postingCountForWebpage = await FormAdminService.GetPostingCountForWebpage(currentPageId);
}
<div class="mrcms-admin-nav-bar" data-webpage-id="@currentPageId">
    <div>
        <a href="@Url.Action("Index", "Home", new {area = "Admin"})" target="_parent" class="mrcms-btn mrcms-btn-secondary mrcms-btn-sm">Admin</a>
        @if (currentPage != null)
        {
            if (canEditPage)
            {
                <a href="@Url.Action("Edit", "Webpage", new {currentPage.Id, area = "Admin"})" target="_parent" class="mrcms-btn mrcms-btn-sm mrcms-btn-primary">Edit</a>
            }
            if (await Html.CanAccess<InlineEditingACL>("Allowed"))
            {
                <a id="enable-editing" class="mrcms-btn mrcms-btn-sm mrcms-btn-secondary">Inline Editing: On</a>
            }

            if (postingCountForWebpage.Count > 0)
            {
                <a href="/Admin/Form/Edit/@postingCountForWebpage.FormId#form-postings-tab" class="mrcms-btn mrcms-btn-xs mrcms-btn-info" target="_parent">
                    @postingCountForWebpage.Count
                    Form entr@(postingCountForWebpage.Count > 1 ? "ies" : "y")
                </a>
            }
            @if (currentPage.PublishStatus == Webpage.WebpagePublishStatus.Published || currentPage.PublishStatus == Webpage.WebpagePublishStatus.Scheduled)
            {
                var s = ((DateTime) currentPage.PublishOn).ToString("dddd, dd MMMM yyyy HH:mm tt");
                if (currentPage.PublishStatus == Webpage.WebpagePublishStatus.Published)
                {
                    <span class="admin-success">@($"Published {s}")</span>
                }
                else if (currentPage.PublishStatus == Webpage.WebpagePublishStatus.Scheduled)
                {
                    <span class="admin-success">@($"Publish scheduled for {s}")</span>
                }
            }
            else
            {
                <span class="admin-warning">Unpublished</span>
            }
        }
    </div>
    <div class="items-right">
        <a href="/Identity/Account/Logout" class="mrcms-btn mrcms-btn-sm mrcms-btn-secondary">Logout</a>
        @if (SiteSettings.SiteIsLive)
        {
            <a href="/Admin/Settings#site-settings" class="mrcms-btn mrcms-btn-sm mrcms-btn-success">Site is set live</a>
        }
        else
        {
            <a href="/Admin/Settings#site-settings" class="mrcms-btn mrcms-btn-sm mrcms-btn-warning">Site is not set live</a>
        }
    </div>
</div>