@using MrCMS.ACL.Rules
@using MrCMS.Settings
@model MrCMS.Entities.Documents.Web.Webpage
@inject SiteSettings SiteSettings
<link href="@Url.Content("~/Areas/Admin/styles/mrcms-frontendediting.css")" rel="stylesheet" type="text/css"/>
<link href="@Url.Content("~/Areas/Admin/styles/featherlight.css")" rel="stylesheet" type="text/css"/>
<link href="@Url.Content("~/Areas/Admin/styles/jquery.mrcms-mediaselector.css")" rel="stylesheet" type="text/css"/>
@{
    var canEditPage = Html.CanAccess("Webpage","Edit");
}
<div class="mrcms-admin-nav-bar">
    <a href="@Url.Action("Index", "Home", new {area = "Admin"})" target="_parent" class="mrcms-btn mrcms-btn-secondary mrcms-btn-sm">Admin</a>
    @if (canEditPage)
    {
        <a href="@Url.Action("Edit", "Webpage", new {Model.Id, area = "Admin"})" target="_parent" class="mrcms-btn mrcms-btn-sm mrcms-btn-primary">Edit</a>
        if (Model.Published)
        {
            <a id="unpublish-now" class="mrcms-btn mrcms-btn-sm mrcms-btn-success">Unpublish</a>
        }
        else
        {
            <a id="publish-now" class="mrcms-btn mrcms-btn-sm mrcms-btn-warning">Publish</a>
        }
    }
    @if (Model.CanAddChildren())
    {
        @Html.ActionLink("Add a child page", "Add", "Webpage", new {id = Model.Id, area = "Admin"}, new {@class = "mrcms-btn mrcms-btn-sm mrcms-btn-secondary"})
    }

    @Html.ActionLink("Add page", "Add", "Webpage", new {id = Model.Parent?.Id, area = "Admin"}, new {@class = "mrcms-btn mrcms-btn-sm mrcms-btn-secondary"})

    @if (Html.CanAccess<InlineEditingACL>("Allowed"))
    {
        <a id="enable-editing" class="mrcms-btn mrcms-btn-sm mrcms-btn-secondary">Inline Editing: On</a>
    }
    <a href="/logout" class="mrcms-btn mrcms-btn-sm mrcms-btn-secondary" style="float: right;">Logout</a>
    @if (SiteSettings.SiteIsLive)
    {
        <a href="/Admin/Settings#site-settings" class="mrcms-btn mrcms-btn-sm mrcms-btn-success" style="float: right;">Site is set live</a>
    }
    else
    {
        <a href="/Admin/Settings#site-settings" class="mrcms-btn mrcms-btn-sm mrcms-btn-warning" style="float: right;">Site is not set live</a>
    }
</div>

@Html.HiddenFor(webpage => webpage.Id)
