@using System.Collections.Generic
@model MrCMS.Web.Areas.Admin.Models.DefaultsInfo
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
    var urlGeneratorOptions = ViewData["url-generator-options"] as List<SelectListItem> ?? new List<SelectListItem>();
    var layoutOptions = ViewData["layout-options"] as List<SelectListItem> ?? new List<SelectListItem>();
}
@using (Html.BeginForm("Set", "PageDefaults", FormMethod.Post))
{
    @Html.HiddenFor(info => info.PageTypeName)
    <fieldset>
        <legend>
            @Resource("Admin Page Defaults Set Default For","Set Defaults for") @Model.PageTypeDisplayName
            <span class="btn-group display-inline pull-right">
                <input type="submit" class="btn-primary btn" value="@Resource("Save")" />
            </span>
        </legend>
        <div class="form-group">
            @Html.LabelFor(x => x.GeneratorTypeName)
            @Html.DropDownListFor(x => x.GeneratorTypeName, urlGeneratorOptions, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.GeneratorTypeName)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.LayoutId)
            @Html.DropDownListFor(x => x.LayoutId, layoutOptions, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.LayoutId)
        </div>
    </fieldset>
}