@using Microsoft.Owin.Security
@using MrCMS.Helpers
@using MrCMS.Models.Auth
@using MrCMS.Web.Apps.Core.Models
@using MrCMS.Web.Apps.Core.Pages
@model MrCMS.Web.Apps.Core.Pages.LoginPage

@Editable(Model, page => page.BodyContent, true)

<div class="row">
    <div class="col-md-4 col-sm-6">
        <h1>@Resource("Login")</h1>
        <hr />
        @{
            var loginModel = ViewData["login-model"] as LoginModel;
            Html.RenderPartial("LoginBox", loginModel);
        }
        <hr />
        @{Html.RenderAction("Providers", "ExternalLogin", new { returnUrl = loginModel.ReturnUrl });}
    </div>
    <div class="col-md-8 col-sm-6">
        <h2 class="not-registered">@Resource("Not registered")?</h2>
        <hr />
        <a href="@(UniquePageHelper.GetUrl<RegisterPage>())" class="btn btn-default">
            <span class="glyphicon glyphicon-ok-sign"></span> @Resource("Click here to register")
        </a>
    </div>
</div>

@{ Html.IncludeCss("~/Apps/Core/Content/SocialButtons/zocial.css"); }