@using MrCMS.Entities.Multisite
@using MrCMS.Web.Admin.Services
@model MrCMS.Web.Admin.Models.AddStringResourceModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
    var languageOptions = ViewData["language-options"] as List<SelectListItem> ?? new List<SelectListItem>();
    var site = ViewData["site"] as Site;
}
@using (Html.BeginForm("Add", "Resource", new {id = ""}, FormMethod.Post, null, new {target = "_parent"}))
{
    <fieldset>
        <legend>
            @await Html.Resource("Admin Resources Add Override", "Add override")
            <span class="btn-group d-inline pull-right">
                <input type="submit" class="btn-primary btn" value="@await Html.Resource("Save", configureOptions=> configureOptions.DisableInlineEditing())"/>
            </span>
        </legend>
        <p>@await Html.Resource("Default"): @StringResourceExtensions.GetDisplayKey(Model.Key)</p>
        @if (!string.IsNullOrWhiteSpace(Context.Request.Query["referrer"]))
        {
            @Html.ReturnTo(Context.Request.Query["referrer"])
        }
        else
        {
            @Html.ReturnToReferrer()
        }
        @Html.HiddenFor(resource => resource.Key)
        @if (site != null)
        {
            <div class="form-group">
                @Html.LabelFor(resource => resource.SiteId, await Html.Resource("For Site:"))
                @site.DisplayName
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(resource => resource.Value)
            @Html.TextBoxFor(resource => resource.Value, new {@class = "form-control"})
            @Html.ValidationMessageFor(resource => resource.Value)
        </div>
        @if (languageOptions.Any())
        {
            <div class="form-group">
                @Html.LabelFor(resource => resource.UICulture)
                @Html.DropDownListFor(resource => resource.UICulture, languageOptions, new {@data_val = "true", data_val_required = "Please select a culture.", @class = "form-control"})
                @Html.ValidationMessageFor(resource => resource.UICulture)
            </div>
        }
        @Html.HiddenFor(resource => resource.SiteId)
    </fieldset>
}