@model MrCMS.Entities.Documents.Web.UrlHistory
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Add", "UrlHistory", FormMethod.Post))
{
    <fieldset>
        <legend>@Resource("Admin Webpage Url History Add", "Add Url")
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn btn-default btn-primary" value="@Resource("Save")" />
            </span>
        </legend>
        @Html.HiddenFor(x => x.Webpage.Id)
        <div class="form-group">
            @Html.LabelFor(x => x.UrlSegment, "Url")
            @Html.TextBoxFor(x => x.UrlSegment, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.UrlSegment, "", new { @class = "error" })
        </div>
    </fieldset>
}