@model MrCMS.Web.Apps.Core.Areas.Admin.Models.ContentBlocks.OneColumnTextImageBlockViewModel

<div class="form-group">
    @Html.LabelFor(x => x.Text)
    @Html.TextAreaFor(x => x.Text, new{@class= "ckedit-enabled" })
    @Html.ValidationMessageFor(x => x.Text)
</div>

<div class="form-group">
    @Html.LabelFor(x => x.Image)<br />
    @Html.TextBoxFor(x => x.Image, new { data_type = "media-selector" })
    @Html.ValidationMessageFor(x => x.Image)
</div>

<div class="form-group">
    @Html.LabelFor(x => x.Link)
    @Html.TextBoxFor(x => x.Link, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Link)
</div>