@model MrCMS.Models.ResetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Reset Password</title>
    <link href="@Url.Content("~/Apps/Core/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        @using (Html.BeginForm("PasswordReset", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <p>&nbsp;</p>
            <div class="row">
                <div class="span2">&nbsp;</div>
                <div class="span8">
                    <div class="control-group">
                        <div class="controls">
                            <h4>Reset Password</h4>
                        </div>
                        @Html.HiddenFor(model => model.Id)
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="Email">Email</label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Email)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="Password">
                            Password</label>
                        <div class="controls">
                            @Html.PasswordFor(model => model.Password)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="ConfirmPassword">
                            Confirm Password</label>
                        <div class="controls">
                            @Html.PasswordFor(model => model.ConfirmPassword)
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" value="Reset password" class="btn" />
                        </div>
                    </div>
                </div>
                <div class="span2">&nbsp;</div>
            </div>
        }
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"> </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js" type="text/javascript"> </script>
    <script>
        $(document).ready(function () {

            $('form').validate({
                rules: {
                    Password: {
                        minlength: 2,
                        required: true
                    },
                    ConfirmPassword: {
                        minlength: 2,
                        required: true,
                        equalTo: '#Password'
                    },
                    Email: {
                        required: true,
                        email: true,
                    }
                },
                highlight: function (label) {
                    $(label).closest('.control-group').addClass('error');
                },
                success: function (label) {
                    label
                        .addClass('valid')
                        .closest('.control-group').addClass('success');
                }
            });

        });
        // end document.ready    
    </script>
</body>
</html>
