@using MrCMS.Helpers
@model MrCMS.Web.Areas.Admin.Models.AddUserModel
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Add", "User", FormMethod.Post))
{
    <fieldset>
        <legend>Add user
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Add user" />
            </span>
        </legend>
        @Html.ValidationSummary()

        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.Email)
        <br />
        @Html.LabelFor(x => x.FirstName)
        @Html.TextBoxFor(x => x.FirstName)
        @Html.ValidationMessageFor(x => x.FirstName)
        <br />
        @Html.LabelFor(x => x.LastName)
        @Html.TextBoxFor(x => x.LastName)
        @Html.ValidationMessageFor(x => x.LastName)
        <br />
        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password)
        @Html.ValidationMessageFor(x => x.Password)
        <br />
        @Html.LabelFor(x => x.ConfirmPassword)
        @Html.PasswordFor(x => x.ConfirmPassword)
        @Html.ValidationMessageFor(x => x.ConfirmPassword)
        <br />
        @Html.InlineCheckboxFor(x => x.IsActive, null, null, "User is active")
        @Html.ValidationMessageFor(x => x.IsActive)
        <br />
    </fieldset>
}