@using MrCMS.Apps
@using MrCMS.Helpers
@using MrCMS.Website
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutRoot.cshtml";
}

@Html.Hidden("controller-name", ViewData["controller-name"])
@{ Html.RenderPartial("Navbar"); }


<div class="container-mrcms">
    @{ Html.RenderPartial("AdminNavigation"); }
    <div class="main-content">
        <div class="inner-content">
            <section class="admin-header">
                @{ Html.RenderPartial("Messages");}
            </section>
            @RenderBody()
        </div>
    </div>
</div>
<footer>
    <hr />
    <p class="display-inline">
        &copy; Mr CMS 2012-@CurrentRequestData.Now.Year - v@(Html.AssemblyVersion()) - Installed apps: @MrCMSApp.CurrentAppSummary
        <span class="pull-right" style="margin-right: 20px;">Logged in from @CurrentRequestData.CurrentContext.GetCurrentIP()</span>
    </p>
</footer>

<!--[if lt IE 10]><br /><br />@{
                              @Html.InfoBlock("Warning!", "You are using an outdated browser. For maximum functionality and experience please upgrade to Chrome, Firefox or IE 11.", AlertType.warning)
                          }<![endif]-->


@if (IsSectionDefined("JavaScriptBlock"))
{
    DefineSection("JavaScriptBlock", () => Write(RenderSection("JavaScriptBlock")));
}