@using System.Web.Optimization
@using MrCMS.Helpers
@using MrCMS.Website
@using StackExchange.Profiling
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/gif" href="/Areas/Admin/Content/Images/mrcms-icon.gif">

    @Styles.Render("~/admin/stylesheets/mrcms")
    @Styles.Render("~/admin/stylesheets/apps")

    @{ Html.RenderCss();}

</head>
<body>
    <div id="loading" style="display: none;">
        <img src="/Areas/Admin/Content/Images/ajax-loader2.gif" />
    </div>
    @RenderBody()
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Content/Editors/ckeditor/ckeditor.js")"> </script>

    @Scripts.Render("~/admin/scripts/lib")
    <script type="text/javascript" src="@Url.Content("~/signalr/hubs")"></script>
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.js"></script>
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/globalize/0.1.1/cultures/globalize.culture.@(CurrentRequestData.CultureInfo.Name).js"></script>
    @Scripts.Render("~/admin/scripts/mrcms")
    @Scripts.Render("~/admin/scripts/apps")
    @if (!CurrentRequestData.CurrentUser.DisableNotifications)
        {
            Html.RenderAction("Show", "TransientNotification");
            Html.RenderAction("Show", "PersistentNotification");
        }

    @{ Html.RenderScripts();}

    @Html.Hidden("CurrentUICulture", CurrentRequestData.CultureInfo.Name)

    @if (IsSectionDefined("JavaScriptBlock"))
        {
        @RenderSection("JavaScriptBlock")
        }
    @MiniProfiler.RenderIncludes()
</body>
</html>