@using MrCMS.Helpers
@model MrCMS.Entities.Documents.Web.Webpage   
@{
    Layout = "_LayoutPopup.cshtml";
}
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="nav-collapse">

                <div style="padding-top: 5px;">
                    <div class="btn-group display-inline">
                        <a href="@Url.Action("Index", "Home")" target="_parent" class="btn">Admin</a>
                        <a href="@Url.Action("Edit", "Webpage", new { Model.Id })" target="_parent" class="btn">Edit</a>
                        @if (Model.Published)
                        {
                            <a id="unpublish-now" class="btn">Unpublish</a>
                        }
                        else
                        {
                            <a id="publish-now" class="btn">Publish</a>
                        }
                        @if (Model.CanAddChildren())
                        {
                            @Html.ActionLink("Add a child page", "Add", "Webpage", new { id = Model.Id }, new { @class = "btn", @target = "_parent" })
                        }
                        @Html.ActionLink("Add page", "Add", "Webpage", new { id = Model.Parent == null ? (int?)null : Model.Parent.Id }, new { @class = "btn", @target = "_parent" })
                        <a id="enable-editing" class="btn" href="#">Inline Editing: On</a>
                    </div>
                </div>

            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
    <!-- /navbar-inner -->
</div>

@Html.HiddenFor(webpage => webpage.Id)

@{ 
    Html.IncludeScript("~/Areas/Admin/Content/Scripts/front-end-editing.js");
}


@*<script src="@Url.Content("~/Areas/Admin/Content/Scripts/jquery.cookie.js")"></script>
<script src="@Url.Content("~/Areas/Admin/Content/Styles/bootstrap/js/bootstrap.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Content/Scripts/front-end-editing.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Content/Scripts/jquery.mrcms-mediaselector.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Content/Editors/fancybox/jquery.easing-1.3.pack.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Content/Editors/fancybox/jquery.mousewheel-3.0.4.pack.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Content/Editors/fancybox/jquery.fancybox-1.3.4.pack.js")"></script>*@