@model MrCMS.Entities.Documents.Web.Webpage   
<link href="/Areas/Admin/Content/Styles/front-end-editing.css" rel="stylesheet" />
<link href="@Url.Content("~/Areas/Admin/Content/less/bootstrap.less")" type="text/less" rel="stylesheet" />
<link href="@Url.Content("~/Areas/Admin/Content/Styles/jquery.mrcms-mediaselector.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Areas/Admin/Content/Editors/fancybox/jquery.fancybox-1.3.4.css")" rel="stylesheet" type="text/css" />
<div class="mrcms-admin-nav-bar">
    <ul>
        <li><a href="@Url.Action("Index", "Home")" target="_parent" class="btn btn-mini">Admin</a></li>
        <li><a href="@Url.Action("Edit", "Webpage", new { Model.Id })" target="_parent" class="btn btn-mini">Edit page</a></li>
        <li><a id="enable-editing" class="btn btn-mini">Inline Editing: On</a></li>
    </ul>
</div>

@Html.HiddenFor(webpage => webpage.Id)
<script src="@Url.Content("~/Areas/Admin/Content/Editors/ckeditor/ckeditor.js")"></script>
<script src="@Url.Content("~/Areas/Admin/Content/Scripts/jquery.cookie.js")"></script>
<script src="@Url.Content("~/Areas/Admin/Content/Styles/bootstrap/js/bootstrap.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Content/Scripts/front-end-editing.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Content/Scripts/jquery.mrcms-mediaselector.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Content/Editors/fancybox/jquery.easing-1.3.pack.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Content/Editors/fancybox/jquery.mousewheel-3.0.4.pack.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Content/Editors/fancybox/jquery.fancybox-1.3.4.pack.js")"></script>