@model MrCMS.Entities.Documents.Web.Webpage   
<link href="/Areas/Admin/Content/Styles/front-end-editing.css" rel="stylesheet" />
<link href="@Url.Content("~/Areas/Admin/Content/less/bootstrap.less")" type="text/less" rel="stylesheet" />
<link href="@Url.Content("~/Areas/Admin/Content/Styles/jquery.mrcms-mediaselector.css")" rel="stylesheet" type="text/css" />

<style>
    html { margin-top: 35px; }
    .admin-nav-bar { position: fixed;top: 0;left: 0;height: 35px;width: 100%; background-color: #1b1b1b;background-image: -moz-linear-gradient(top,#222,#111);background-image: -webkit-gradient(linear,0 0,0 100%,from(#222),to(#111));background-image: -webkit-linear-gradient(top,#222,#111);
background-image: -o-linear-gradient(top,#222,#111);background-image: linear-gradient(to bottom,#222,#111);background-repeat: repeat-x;border-color: #252525;filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff222222',endColorstr='#ff111111',GradientType=0);}
    .admin-nav-bar ul { list-style: none;margin: 3px;padding: 0;}
    .admin-nav-bar ul li { display: inline;}
</style>
<div class="admin-nav-bar">
    <ul>
        <li><a href="@Url.Action("Index", "Home")" target="_parent" class="btn btn-mini">Admin</a></li>
        <li><a href="@Url.Action("Edit", "Webpage", new { Model.Id })" target="_parent" class="btn btn-mini">Edit page</a></li>
        <li><a id="enable-editing" class="btn btn-mini">Inline Editing: On</a></li>
    </ul>
</div>

@Html.HiddenFor(webpage => webpage.Id)
<script src="@Url.Content("~/Areas/Admin/Content/Editors/ckeditor/ckeditor.js")"></script>
<script src="@Url.Content("~/Areas/Admin/Content/Scripts/jquery.cookie.js")"></script>
<script src="@Url.Content("~/Areas/Admin/Content/Styles/bootstrap/js/bootstrap.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Content/Scripts/front-end-editing.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Content/Scripts/jquery.mrcms-mediaselector.js")"></script>
