@model MrCMS.Entities.Documents.Web.Webpage   
<link href="/Areas/Admin/Content/Styles/front-end-editing.css" rel="stylesheet" />
<link href="@Url.Content("~/Areas/Admin/Content/less/bootstrap.less")" type="text/less" rel="stylesheet" />
<div id="admin-edit-menu-container" class="gradient-bg admin-tools">
    <div class="admin-menu-items">
        <ul>
            <li><a href="@Url.Action("Edit", "Webpage", new { Model.Id })" target="_parent" class="btn btn-mini">Edit page</a></li>
            <li><a href="@Url.Action("Add", "Webpage", new { Model.Id })" target="_parent" class="btn btn-mini">Add page</a></li>
            <li><a id="enable-editing" class="btn btn-mini">Editing: On</a></li>
            <li><a href="@Url.Action("Index", "Home")" target="_parent" class="btn btn-mini">To Admin</a></li>
        </ul>
    </div>
    <img src="/Areas/Admin/Content/Images/button-right.png" class="menu-handle" />
</div>
@Html.HiddenFor(webpage => webpage.Id)
<script src="@Url.Content("~/Areas/Admin/Content/Editors/ckeditor/ckeditor.js")"></script>
<script src="@Url.Content("~/Areas/Admin/Content/Scripts/jquery.cookie.js")"></script>
<script src="@Url.Content("~/Areas/Admin/Content/Styles/bootstrap/js/bootstrap.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Areas/Admin/Content/Scripts/front-end-editing.js")"></script>
