@using MrCMS.Helpers
@model MrCMS.Entities.Documents.Web.Webpage   
@{
    Layout = "_LayoutPopup.cshtml";
}
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="@Url.Action("Index", "Home")" target="_parent" >Mr CMS Admin</a></li>
                </ul>
                <div style="padding-top: 5px;">
                    <div class="btn-group display-inline">
                        <a href="@Url.Action("Edit", "Webpage", new { Model.Id })" target="_parent" class="btn btn-primary">Edit</a>
                        @if (Model.Published)
                        {
                            <a id="unpublish-now" class="btn btn-success">Unpublish</a>
                        }
                        else
                        {
                            <a id="publish-now" class="btn btn-warning">Publish</a>
                        }
                        @if (Model.CanAddChildren())
                        {
                            @Html.ActionLink("Add a child page", "Add", "Webpage", new { id = Model.Id }, new { @class = "btn", @target = "_parent" })
                        }
                        @Html.ActionLink("Add page", "Add", "Webpage", new { id = Model.Parent == null ? (int?)null : Model.Parent.Id }, new { @class = "btn", @target = "_parent" })
                        <a id="enable-editing" class="btn" href="#">Inline Editing: On</a>
                    </div>
                    <div class="display-inline" style="margin-left: 20px; overflow:hidden;">
                        @if (Model.FormPostings.Any())
                        {
                            <a href="/Admin/Webpage/Edit/@Model.Id#postings-tab" target="_parent"> 
                                @Model.FormPostings.Count 
                                Form entry
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.HiddenFor(webpage => webpage.Id)
@{ 
    Html.IncludeScript("~/Areas/Admin/Content/Scripts/front-end-editing.js");
}